h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Georreferenciación', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Productos y servicios microfinancieros', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'Normas de etiqueta y protocolo', 'main.html#page/tema-3/')
                    +navTemaItem('4', 'Inteligencia emocional', 'main.html#page/tema-4/')
                    +navTemaItem('5', 'Gestión de la información', 'main.html#page/tema-5/')
                    +navTemaItem('6', 'Tecnologías de la información y la comunicación', 'main.html#page/tema-6/')
                    +navTemaItem('7', 'Técnicas de ventas', 'main.html#page/tema-7/')
                    +navTemaItem('8', 'Centrales de información', 'main.html#page/tema-8/')
                    +navTemaItem('9', 'Matemáticas financieras', 'main.html#page/tema-9/')
                    +navTemaItem('10', 'Políticas organizacionales', 'main.html#page/tema-10/')
                    +navTemaItem('11', 'Verificación de la información', 'main.html#page/tema-11/')
                    +navTemaItem('12', 'Administración de riesgos', 'main.html#page/tema-12/')
                    +navTemaItem('13', 'Propuestas comerciales', 'main.html#page/tema-13/')
                    +navTemaItem('14', 'Educación económica y financiera', 'main.html#page/tema-14/')
