.container.mt-5

	.header-ecored
				
		h1 10. Políticas organizacionales
	
	.card.pb-5

		.card-body

			.text-center.mt-5

				img(src="assets/images/pages/tema-10/tema-10-1.svg").img-fluid
			
			p.mt-4 También llamadas políticas de la empresa o entidades financieras y microfinancieras, estas son importantes para el funcionamiento de las mismas, se podría decir que son como las reglas de juego de las compañías para su organización y cumplimiento de objetivos.

			p.mt-4 En las políticas se establecen las directrices básicas sobre los procesos y comportamientos de sus colaboradores, estos se encuentran establecidos en documentos tales como manuales y políticas de las entidades.

			br
			br

			.row.bg-azul-claro.rounded.p-5(style="border:1px #50A1C9 solid;")

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

					img(src="assets/images/pages/tema-2/tema-2-12.svg").img-fluid

				.col-md-8.col-lg-8.col-sm-8.col-xs-12.mb-3

					p Una empresa debe estandarizar procesos y seguir una serie de lineamientos para lograr sus objetivos, esto lo puede realizar a través de sus políticas organizacionales, para introducir en el tema puede dirigirse a los siguientes enlaces:

					p.mt-4 #[strong Pucheu, (2014). Desarrollo y eficacia organizacional.] https://www-digitaliapublishing-com.bdigital.sena.edu.co/a/38233/desarrollo-y-eficacia-organizacional

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-101 10.1. Lineamientos

			p.mt-4 Las entidades financieras y microfinancieras adoptan unos lineamientos en sus políticas de crédito que dan la pauta para determinar el otorgamiento del microcrédito, se establecen criterios para evaluar a sus clientes y determinar el nivel de riesgo al que se encuentran expuestas con cada crédito desembolsado.

			p.mt-4 Dentro de estos lineamientos se encuentran también las estrategias en colocación de microcréditos, el mercado objetivo al cual van dirigidos, los límites y procedimiento en el otorgamiento y posterior recuperación de cartera.

			.text-center.mt-5

				br

				img(src="assets/images/pages/tema-10/tema-10-2.svg").img-fluid

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Para ilustrar mejor, las siguientes son políticas de una institución microfinanciera para el otorgamiento de microcréditos:
			
			br

			p.mt-4 Políticas de la institución de microcrédito:

			.row.mt-5

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Monto: créditos solo a dueños de negocio desde $1.000.000 hasta 25 o 120 salarios mínimos legales vigentes.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Plazos: Entre 6 a 24 meses.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Destino del crédito: Solo presta para capital de trabajo o activos fijos.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Interés: 3,6% mensual

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Comisión: 7.5% para créditos menores a 4 salarios mínimos y 4,5% para montos iguales o mayores a 4 salarios mínimos legales vigentes.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Características del negocio: Este no puede tener más de 10 trabajadores; en activos totales el valor debe ser inferior a 500 salarios mínimos mensuales legales vigentes, unas ventas anuales máximas de 800.000.000 de pesos colombianos.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Mirar clasificación y preguntar microfinancieras.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Antigüedad del negocio: Mínimo 1 año en el lugar.
			
			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Servicios públicos al día.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p 1 referencia comercial, 1 referencia personal, 1 referencia familiar.



	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-102 10.2. Requisitos 

			p.mt-4 Los requisitos solicitados dependerán de las políticas de crédito de cada entidad financiera o microfinanciera, también dependerán del monto.

			br

			.row.mt-5

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito con cédula, sin codeudor desde $1.000.000 hasta $2.500.000.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito con casa propia desde $2.501.000 hasta $7.000.000 (mostrando certificado de tradición y libertad)

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito con codeudor con salario a término indefinido desde $2.501.000 hasta $5.000.000. (Se presta dependiendo del negocio y del salario del codeudor).

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito con codeudor con salario a término fijo desde $2.501.000 hasta $3.500.000. (Se presta dependiendo del negocio y del salario del codeudor).

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito con codeudor que posee negocio con un año de antigüedad desde $2.501.000 hasta $5.000.000 (Se presta dependiendo del negocio tanto del propietario como del codeudor).

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito con codeudor con finca raíz desde $2.501.000 hasta $5.000.000.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito con dos codeudores, pueden ser con finca raíz, salario con contrato a término indefinido o con negocio, se presta desde $5.001.000 hasta 25 salarios mínimos legales vigentes.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

				.col 

					p Crédito hipotecando la casa propia desde $7.001.000 hasta 25 salarios mínimos legales vigentes.
			
	
	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-103 10.3. Clases

			p.mt-4 La política organizacional dependerá del tipo de empresa, inclusive del área, en el caso de las entidades financieras y microfinancieras también adoptan distintas políticas algunas como:

			.row.mt-5

				.col-4.mt-5

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p Corporativa: 

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p De Derechos Humanos 

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p Generales de sostenibilidad

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p De riesgo

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p De crédito 

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p De cobranza

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p Comercial

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-8/tema-8-2.svg").img-fluid

						.col 

							p De servicios

				.col-auto

					img(src="assets/images/pages/tema-10/tema-10-3.svg").img-fluid
