.container.mt-5

    .header-ecored
                
        h1 2. Productos y servicios microfinancieros
    
    .jumbotron.bg-white

        p Los productos y servicios microfinancieros generalmente son los beneficios tangibles e intangibles que una entidad financiera o microfinanciera entrega exclusivamente a sus clientes microempresarios.
        .sub-ecored.mt-5

            h2#tema-21 2.1. Tipos y características.

        .header-arrow.mt-5
            h3 Son los centros de relación entre la entidad y sus usuarios, estos son los más relevantes según su nivel de prestación:

        .row

            .col-md-4

                img(src="assets/images/pages/tema-2/tema-2-1.svg").img-fluid

            .col-md-4.mt-5
                
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top El microcrédito
                
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Tarjetas de crédito
                
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Microahorro
                
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Microseguros
                
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top CDT´s


            .col-md-4.mt-5

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Oficina virtual

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top PSE

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Banca Móvil

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Tarjeta débito

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Entre otros dependiendo del portafolio de la entidad.

        p.mt-4 A continuación se hace la explicación de cada uno y sus características más representativas.

        .sub-ecored.mt-5
            h2#tema-22 2.2. Características.        
        .header-arrow.mt-5
            h3 Las características dependen en gran medida de las políticas de cada entidad, sin embargo, nivel general se encuentran:
        .row.justify-content-center.mt-5

            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img1.png").img-fluid
                        p.card__copy 
                            
                            h3 Microcrédito        

                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Préstamos pequeños, que se usa para impulsar proyectos productivos: su destino puede ser capital de trabajo, adquisición de activos fijos productivos, inclusive libre inversión entre otros.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top La amortización o pago de capital depende de cada proyecto, y puede ser a corto o mediano plazo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Pueden existir períodos de gracia o no pago y en otros devolución parcial o total del dinero.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top El valor dependerá de la necesidad del negocio y la capacidad de endeudamiento.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Las tasas de interés máximo son estipuladas por la Superintendencia Financiera de Colombia.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top La garantía dependerá de la política de crédito de la entidad.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.

        
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img2.png").img-fluid
                        p.card__copy 
                            h3 Tarjetas de crédito  
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Tasas de interés preferencial.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Compras nacionales e internacionales.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Disponibilidad de avances (dinero en efectivo).
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Con ella puede realizar pagos de insumos para la microempresa.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Puede tener asistencias y seguros exclusivos para microempresarios.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Los cupos dependen de la política de crédito de la entidad y de la capacidad de endeudamiento del microempresario.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.

            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img3.png").img-fluid
                        p.card__copy 
                            h3 Microahorro

                            p Las cuentas de ahorro tendrán características diferentes dependiendo de la entidad financiera, podrán:
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No tener cuota de manejo. 
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Tener retiros ilimitados.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No requerir saldos mínimos.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Contar con el beneficio de no cobro del 4x1000.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Montos mínimos de apertura.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Medios de manejo: tarjeta débito o libreta.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Liquidación de intereses (según promedios).
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Seguro FOGAFIN
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.
        
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img4.png").img-fluid
                        p.card__copy 
                            h3  Microseguros

                            p Son una forma de protección económica dirigida a los pobres, frente a una amenaza o contra la posibilidad de sufrir alguna pérdida humana o material como lo expone López (2018) en estos tres puntos:
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Buscan prevenir que, ante adversidades económicas inesperadas, las personas de escasos recursos caigan más en la pobreza o se perpetúen en ella.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Su cobertura es limitada y sus primas son de bajo costo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Mitigación de las pérdidas económicas de la población pobre frente a los diferentes riesgos.


            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img5.png").img-fluid
                        p.card__copy 
                            h3  CDT´s
                            p Certificados de depósito a término fijo: 
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Reconoce intereses fijos o variables dependiendo del monto y plazo pactados.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Negociable en la bolsa de valores.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Posibilidad de endoso (transferir a otra persona), antes de su vencimiento.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Seguro FOGAFIN.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.

            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                        p.card__copy 
                            h3 Oficina Virtual
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Ahorra tiempo al realizar transacciones desde cualquier lugar.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Minimiza los costos financieros por transacciones y consultas.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Accede al portafolio de productos y servicios financieros de la entidad.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Dispone de la información financiera.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Se pueden matricular cuentas de otras entidades, así como facturas y servicios públicos.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Se pueden realizar transacciones como avances de tarjeta a cuentas de ahorro o corriente, abonos a créditos, recarga de celulares.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.

            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid
                        p.card__copy 
                            h3 PSE (Pagos Seguros en Línea)

                            p Como lo dicen en el Colegio Agustiniano en 2016 en su instructivo PSE “Sistema centralizado y estandarizado, desarrollado por ACH Colombia, donde las empresas brindan a los usuarios la posibilidad de realizar sus pagos y/o compras a través de internet, debitando los recursos de la entidad financiera donde tenga su dinero y depositándolos en la cuenta de las empresas”.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Confirma e identifica en línea y en tiempo real las transacciones.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Ahorra gastos operativos, tiempos y recursos.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Evita errores en pagos y/o recaudo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Brinda seguridad y agilidad al reducir el manejo de efectivo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.


            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img8.png").img-fluid
                        p.card__copy 
                            h3 Banca Móvil

                            p Alternativa que ofrecen las entidades financieras, se puede usar a través del teléfono celular, teniendo acceso inmediato a los productos para realizar transacciones, las operaciones que se pueden realizar por este medio son:
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Se pueden realizar consultas, realizar pagos.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Tienen medidas de seguridad y elimina traslados innecesarios ahorrando tiempo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Servicios las 24 horas.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Agilidad en trámites.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Reducción de costos.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.

        
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img9.png").img-fluid
                        p.card__copy 
                            h3 Tarjeta débito

                            p Es un medio de manejo para las cuentas de ahorro y/o corriente de los clientes, son los plásticos con los que se caracteriza al cliente para ser reconocido por los canales digitales análogos como los son los datáfonos y los cajeros electrónicos, estos elementos tienen las siguientes características especiales:
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Contiene la información del cliente por medio de un chip.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Se pueden realizar transacciones en oficinas, cajeros automáticos, compras en establecimientos comerciales y por internet.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Hace las funciones del dinero en efectivo sin llevarlo consigo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Tiene clave para su uso y es asignada por el mismo cliente.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Puede o no tener cuota de manejo (depende del tipo de cuenta y de la política de la entidad).
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Entre otros.

        .jumbotron.bg-2.mt-5 
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

                .col
                    p Otros productos y servicios financieros con sus características pueden ser consultados en los siguientes links:

                    .row.justify-content-center.align-items-center
                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/43077" target="_blank").media-link    

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo.] Productos y servicios financieros y de seguros básicos

                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/50720" target="_blank").media-link.mt-5    

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo.] Manual de productos, servicios y activos financieros. Unidad formativa 3: análisis de productos                            
                    