.container.mt-5

	.header-ecored
				
		h1 3. Normas de etiqueta y protocolo
	
	.jumbotron.bg-white

		p Es el nombre con el que se conoce el trato cordial, especial y en algunos casos digno que debe tener una persona según su presentación en público, en privado o en algún evento especial y se definen así:
		

		.mt-5.embed-responsive.embed-responsive-16by9
			iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/a-BgD2Cb0po', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

		.jumbotron.bg-3.mt-5
			h2#tema-31 3.1. Etiqueta
			.row.justify-content-center.align-items-center.mt-5
				.col 
					p Son los usos y costumbres que se deben guardar en actos públicos, habitualmente están establecidos por los diferentes actores de los eventos e inclusive, se entiende en muchos de los casos que existe una reglamentación habitual en vestido, forma de hablar, tiempos y presentación.
				.col-auto
					img.img-a(src="assets/images/pages/ilustraciones/img10.png").img-fluid  


		.jumbotron.bg-3.mt-5
			h2#tema-32 3.2. Protocolo
			.row.justify-content-center.align-items-center.mt-5
				.col 			
								
					p Es el conjunto de reglas que establece un grupo, organización o autoridad. Es un contenido parametrizado con el que los diferentes integrantes de los ambientes se tratan para consolidar la forma de presentarse en un gran comportamiento objetivo, el fundamento del protocolo es organizar.

					p La etiqueta orienta la conducta personal, mientras que el protocolo establece el orden.
				.col-auto
					img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid 
			.jumbotron.bg-white-1
				p Enlace a:

				p Las empresas tienen sus protocolos donde reglamentan usos, costumbres y comportamientos de sus colaboradores dentro y fuera de la organización.

				.row.justify-content-center.align-items-center
					.col-auto
						a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/62838" target="_blank").media-link    

							img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

							.media-link-title
								p #[strong Anexo.] Para profundizar en el tema puede dirigirse al siguiente link. 

		.jumbotron.bg-3.mt-5
			h2#tema-33 3.3. Manuales
			.row.justify-content-center.align-items-center.mt-5
				.col 
					p Obedeciendo al concepto de manual dado por la Real Academia Española (2020) “libro en que se compendia lo más sustancial de una materia” se presenta esta condición para los bancos de información con los que se debe contar en toda empresa  para la gestión de su información, protocolos, códigos y acciones, de esta forma todos los integrantes de la comunidad empresarial entienden con facilidad los pasos a seguir y formas de actuar en los procesos, en pocas palabras, un manual se puede ver como la guía de trabajo con la empresa genera una trazabilidad de sus procesos.
				.col-auto
					img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid  								

			.row.justify-content-center.align-items-center.mt-5
				.col-11.punteado
					h3 3.3.1. Código de ética o conducta.
					.row.justify-content-center.align-items-center.mt-5
						.col-auto
							img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid

						.col
							p Es un documento rector que sirve a las empresas para consignar ciertas reglas y comportamientos que dirigen el actuar de los empleados y directivos en sus relaciones internas y con el exterior articulando la misión y visión de la empresa, así como sus valores y principios.

					h3.mt-5 3.3.2. Beneficios del código de ética o conducta.
					.jumbotron.bg-white-1.mb-0
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Comunicar a los empleados como se espera que actúen en el ambiente de trabajo.
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Empoderar a los empleados para manejar dilemas de ética.
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Promover el comportamiento ético dentro de la empresa, fortaleciendo, en este sentido, la reputación de la empresa, al distinguirla como compañía confiable.
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Ayudar a prevenir violaciones inadvertidas de ética por parte de los empleados, al definir estándares que sensibilicen a los empleados en cómo actuar en situaciones no tan obvias o claras.
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Proporciona guía de cómo enfrentar potenciales violaciones de ética, incluyendo las posibles consecuencias para los empleados que hayan incurrido en las mismas.
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Constituyen una herramienta en mercadotecnia con prospectos de empleados, clientes, proveedores y demás terceros. 
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Proporciona un marco común a todos los empleados, fomentando la unidad e identidad.

		.jumbotron.bg-3.mt-5
			h2#tema-34 3.4. Manuales administrativos:

			p Es un documento que dice paso a paso cómo realizar una actividad, pueden ser utilizados para orientar a un empleado, concentra información amplia y detallada acerca de las bases jurídicas, atribuciones, estructura orgánica, objetivos, políticas, grado de autoridad, responsabilidad, funciones y actividades.  

			p Sirven de apoyo en el manejo del personal, evitará ineficiencia en la productividad, redundancia en la actividad y funciones que opera la empresa, así como la comprensión de los empleados en sus propios papeles dentro de la organización. 

			.row.justify-content-center.align-items-center.mt-5
				.col-11.punteado
					h3 3.4.1. Tipos de manuales administrativos.
					p Dentro de una organización pueden existir varios tipos de manuales administrativos tales como:
					.row.justify-content-center.align-items-center
						.col-11.jumbotron.bg-white-1.mb-0
							h3 3.4.1.1. Manual de historia.
							p Proporciona información histórica sobre la entidad.
							h3 3.4.1.2. Manual de organización.
							p Reposan las normas y estructura orgánica de la empresa y define las funciones de cada área de la empresa.
							h3 3.4.1.3. Manual de políticas.
							p Describe los lineamientos a seguir en la toma de decisiones para el logro de objetivos.
							h3 3.4.1.4. Manual de procedimientos.
							p Integra los procedimientos interrelacionados que pueden comprender a un área o a la totalidad de una dependencia.
							h3 3.4.1.5. Manual de auditoría interna.
							p Agrupa los lineamientos e instrucciones de aplicación específica a determinados tipos de actividad.
							h3 3.4.1.6. Manual de personal.
							p Contiene consideraciones para ayudar a comunicar las actividades y políticas al personal.
							h3 3.4.1.7. Manual de actividad económica.
							p Dependiendo la actividad económica de la empresa podrán existir:
							.row.justify-content-center.align-items-center
								.col-11
									.list
										.list__item
											.list__item__icon
												img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
										.list__txt    
											p.m-top Manual de producción
									.list
										.list__item
											.list__item__icon
												img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
										.list__txt    
											p.m-top Manual de compras


					h3.mt-5 3.4.2. Ventajas del uso de manuales administrativos.

					p La empresa podrá determinar cuántos manuales considere dependiendo de la actividad económica a la que se dedique y la cantidad de procesos que se desempeñen sistémicamente.

					.header-arrow.my-5
						h3 Algunas ventajas de tener manuales administrativos en una entidad son las que se presentan a continuación porque:
					.row.justify-content-center.align-items-center
						.col-11
							.list
								.list__item
									.list__item__icon
										img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
								.list__txt    
									p.m-top Logran y mantienen un plan de organización.
							.list
								.list__item
									.list__item__icon
										img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
								.list__txt    
									p.m-top Facilitan el estudio de los problemas de la organización.
							.list
								.list__item
									.list__item__icon
										img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
								.list__txt    
									p.m-top Determinan la responsabilidad de cada puesto y su relación con los demás en la organización.
							.list
								.list__item
									.list__item__icon
										img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
								.list__txt    
									p.m-top Evitan conflictos jurisdiccionales y de funciones.
							.list
								.list__item
									.list__item__icon
										img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
								.list__txt    
									p.m-top Son una fuente permanente de información sobre el trabajo a ejecutar.
							.list
								.list__item
									.list__item__icon
										img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
								.list__txt    
									p.m-top Ayudan hacer efectivo los objetivos, las políticas, los procedimientos, las funciones, las normas, etc.
							.list
								.list__item
									.list__item__icon
										img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
								.list__txt    
									p.m-top Son instrumentos útiles en la capacitación del personal.


