.container.mt-5

	.header-ecored
				
		h1 12. Administración de riesgos
	
	.card.pb-5

		.card-body

			.row.mt-5.bg-rojo1.p-3

				.col

					br
					br

					p.text-white.p-5 Es el conjunto de técnicas y procedimientos usados para el análisis, identificación, evaluación y control de aquellos efectos adversos consecuencia de los riesgos o eventualidades a los que se expone una empresa o entidad financiera y microfinanciera, de esta manera lograr reducirlos, evitarlos, retenerlos o transferirlos.

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-1.svg").img-fluid

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-121 12.1. Tipos de riesgos (SARLAFT, SARO, ARAS, SAC)

			p.mt-4 #[strong SARLAFT:] Sistema Administrativo de Riesgo de Lavado de Activos y Financiación del Terrorismo.

			p.mt-4 El SARLAFT para el sistema financiero se contempla a través de los artículos 102 al 105 del Estatuto Orgánico del Sistema Financiero (Decreto 663 de 1993) y del capítulo IV del título IV de la Parte de la Circular Básica Jurídica de la Superintendencia Financiera de Colombia se consagran las instrucciones relativas a la administración del riesgo de lavado de activos y de la financiación del terrorismo y para el sector cooperativo en el Capítulo XI de su Circular Básica Jurídica la Superintendencia de la Economía Solidaria.

			p.mt-4 Lavado de activos y financiación del terrorismo (LA/FT) la posibilidad de pérdida o daño que puede sufrir una entidad vigilada ya que es susceptible para ser utilizada, directamente o a través de sus operaciones, como instrumento para el lavado de activos y/o canalización de recursos hacia la realización de actividades terroristas, o cuando se pretenda el ocultamiento de activos provenientes de dichas actividades.

			br
			br

			p.mt-2 #[strong SARO:] Sistema Administrativo de Riesgo Operativo.

			p.mt-4 “Conjunto de elementos tales como políticas, procedimientos, documentación, estructura organizacional, registro de eventos de riesgo operativo, órganos de control, plataforma tecnológica, divulgación de información y capacitación, mediante los cuales las entidades vigiladas identifican, miden, controlan y monitorean el riesgo operativo” Superintendencia Financiera de Colombia (1995).

			br
			br

			p.mt-2 #[strong ARAS:] Análisis de Riesgos Ambientales y Sociales 

			p.mt-4 Constituye el conjunto de políticas, mecanismos, herramientas y procedimientos para una fácil y oportuna identificación, evaluación, reducción y seguimiento de los riesgos ambientales y sociales generados por los beneficiarios en el desarrollo de sus actividades, de manera que se minimicen las posibilidades de asumir los costos transferidos por estos riesgos.

	
	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-122 12.2. Principios básicos

			p.mt-4.font-weight-bold SARLAFT:

			p Contiene los siguientes elementos importantes para su ejecución y estricto cumplimiento:


			.row.mt-5

				.col

					.row.mt-4

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Políticas.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Procedimientos generales y especiales.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Mecanismos de control.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Instrumentos de control.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Estructura organizacional.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Órganos de control.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Capacitación.

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-2.svg" style="position: relative;right: -23px;").img-fluid

			br
			br
			br

			p.font-weight-bold SARO:

			p Contiene los siguientes elementos importantes para su ejecución y estricto cumplimiento:


			.row.mt-5

				.col

					.row.mt-4

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Políticas.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Procedimientos.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Documentación.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Estructura organizativa.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Registro de eventos de riesgo operativo.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Órganos de control.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Infraestructura tecnológica.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Divulgación de la información.

					.row.mt-3

						.col-auto

							img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
						
						.col

							p Capacitación.

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-4.svg" style="position: relative;right: -23px;").img-fluid
			br

			p.mt-5.font-weight-bold ARAS: No registra.

	
	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-123 12.3. Etapas

			p.font-weight-bold.mt-4 SARLAFT:

			p Etapas:  Como resultado las organizaciones solidarias vigiladas deben estar en capacidad de:

			.row.mt-5

				.col-4

					.bg-rosado.p-4

						p.font-weight-bold Identificación: 

						p.mb-4 Identificar los factores de riesgo y riesgos asociados a los cuales se ven expuestas.

				.col-4

					.bg-naranja-claro.p-4

						p.font-weight-bold Medición: 

						p Establecer el perfil de riesgo inherente y residual, las mediciones agregadas en cada factor de riesgo y riesgos asociados.

				.col-4

					.bg-rosado.p-4

						p.font-weight-bold Control

						p El control debe traducirse en disminución de la posibilidad de ocurrencia y/o impacto en caso de materializarse el riesgo.

			.row.justify-content-center.mt-4

				.col-4.m-auto

					.bg-rosado.p-4

						p.font-weight-bold Monitoreo:

						p.mb-4 Debe permitir hacer seguimiento en general del SARLAFT – perfil de riesgo y evolución del mismo.
			br
			br

			p.font-weight-bold.mt-4 SARO:

			p Las etapas a considerar en todo Sistema de Administración de Riesgos Operativos son:

			.row.mt-5

				.col-4

					.bg-rosado.p-4

						p.font-weight-bold Identificación: 

						p Identificar los riesgos operativos que han ocurrido, así como, aquellos riesgos operativos en potencia que van a suponer una serie de obstáculos de cara al logro de los objetivos.

				.col-4

					.bg-naranja-claro.p-4

						p.font-weight-bold Medición o Evaluación: 

						p El siguiente paso es evaluar la posibilidad de materialización de los riesgos y definir el impacto que los mismos podrían generar en caso de ocurrencia.

				.col-4

					.bg-rosado.p-4

						p.font-weight-bold Control o Mitigación

						p Se definen las medidas de control que permitan reducir la probabilidad de ocurrencia y/o los impactos ocasionados por los riesgos inherentes detectados.

			.row.justify-content-center.mt-4

				.col-4.m-auto

					.bg-rosado.p-4

						p.font-weight-bold Monitoreo:

						p.mb-4 Se lleva a cabo el seguimiento adecuado a los riesgos con el fin de ir analizando su evolución.

			br
			br

			p.font-weight-bold ARAS: No registra 

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-124 12.4. Criterios para la identificación de alertas y operaciones sospechosas

			p.mt-4 Identificar operaciones sospechosas permite reconocer movimientos inusuales de un cliente.

			p Es esencial reconocer aquellas transacciones o movimientos incompatibles con las actividades regulares de un cliente, que pueden ser señales de alerta.

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Los siguientes son algunos criterios que pueden servir como indicio para reconocer un posible blanqueo de capitales:

			br
			.row.mt-5

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid

				.col

					p Transacciones cuyos valores sean incompatibles con la ocupación profesional y la situación financiera declarada.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid

				.col

					p Movimientos inesperados en las operaciones y en el manejo de las cuentas.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid

				.col

					p Operaciones que demuestren una oscilación significativa en relación con el volumen o la frecuencia de negocios del cliente.

			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid

				.col

					p Depósitos y transferencias pequeños que de inmediato se transfieren a cuentas de otros países o regiones.
			
			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid

				.col

					p Operaciones que evidencian un cambio repentino y objetivamente injustificado en comparación con el histórico del cliente.
			.row.mt-3

				.col-auto

					img(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid

				.col

					p Operaciones cuyo grado de complejidad y de riesgo sea incompatible con la cualificación técnica del cliente.

			br
			br

			.row.bg-azul-claro.rounded.p-5(style="border:1px #50A1C9 solid;")

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

					img(src="assets/images/pages/tema-2/tema-2-12.svg").img-fluid

				.col-md-8.col-lg-8.col-sm-8.col-xs-12.mb-3

					p Como lo pudo revisar en el contenido formativo, el sector financiero es muy vulnerable a diferentes riesgos, es por eso que hay toda una normatividad para su análisis y prevención, para profundizar con el tema puede hacer clic en el siguiente enlace:

					p.mt-4 http://www.ebooks7-24.com.bdigital.sena.edu.co/stage.aspx?il=3224&pg=&ed= 

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3