.container.mt-5

	.header-ecored
				
		h1 5. Gestión de la información
	
	.jumbotron.bg-white

		img(src="assets/images/pages/tema-5/tema-5-1.png").img-fluid

		p La gestión de la información puede ser comprendida bajo dos enfoques distintos; el primero relacionado al profesional de la información como gestor de una unidad de trabajo, en este caso pudiendo ser una red, sistema, unidad o servicio de información; el segundo relacionado a procesos y actividades en una organización, correspondiente a cualquier segmento económico: industrial, comercial, financiero, jurídico, científico, educativo, tecnológico, sindical, de salud, entre otros.

		p Las personas son bombardeadas de mucha información a lo largo de la vida, es por esta razón que se hace necesario tener una gestión de ella de la mano de una ética ya que mucha información se puede considerar privada y debe ser delicado su manejo.

		.jumbotron.bg-white.mt-5.py-0
			.row.justify-content-center.align-items-center
				.col-auto
					a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/122300" target="_blank").media-link   

						img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

						.media-link-title
							p #[strong Anexo.] Se sugiere revisar el capítulo de #[strong “1. La gestión de la información en la sociedad digital p. 12”]  Carabantes (2015) en el siguiente vínculo.

		.sub-ecored.mt-5

			h2#tema-51 5.1. Tipos de información

		p La información es un conjunto de datos previamente ordenados y supervisados que logran transmitir un determinado mensaje, lo cual se basa en un fenómeno o en un ente.
		.header-arrow.mt-5
			h3 A continuación se enuncian y presentan de manera puntual los tipos de información más frecuentes. 
		.jumbotron.bg-6

			h3 5.1.1. Información privilegiada.

			p Información que aún no se ha hecho pública, de carácter concreto.

			h3.mt-4 5.1.2. Información privada. 

			p Es el tipo de información donde se prohíbe estrictamente su publicación al público en general, ya que su contenido puede llegar a afectar la intimidad de una persona.

			h3.mt-4 5.1.3. Información externa.

			p Se trata de la información que después de ser creada por ciertas vías externas es que llega a entrar en la organización o en la empresa. 

			h3.mt-4 5.1.4. Información pública.

			p Se trata del tipo de información que se da a conocer al público en general, y que toda persona tiene derecho a ella. 

			h3.mt-4 5.1.5. Información semántica.

			p Es el tipo de información que emplea un medio de información, sean falsas o verdaderas a la hora de transmitirse.

			h3.mt-4 5.1.6. Información selectiva.

			p Es el tipo de información que solo puede ser transmitida a través de símbolos no semánticos, es decir aquellos símbolos que no están relacionados con los aspectos del significado, sentido o interpretación de algún elemento. Sólo puede transmitirse por medio de afirmaciones verdaderas o falsas.

			h3.mt-4 5.1.7. Información interna.

			p Es la información que tiende a circular de forma interna por una organización o una determinada empresa.

			h3.mt-4 5.1.8. Información indirecta.

			p No es proporcionada directamente por una fuente, sino que se encuentra después de revisar las sugerencias de los documentos idóneos para contenerla.

			h3.mt-4 5.1.9. Información directa.

			p Se trata de todos los datos que llegan a dar a conocer determinada información que se busca de manera inmediata sin tener necesidad de recurrir a otro tipo de fuente

		.sub-ecored.mt-5

			h2#tema-52 5.2. Métodos de recolección

		p La recopilación de información es esencial para comprender y analizar un tópico específico, para tomar buenas decisiones comerciales y para desarrollar productos valiosos y atractivos.

		p Los métodos dependen del tipo de investigación, podrá ser cualitativa, cuantitativa o mixta.

		p La investigación cuantitativa implica la recopilación de datos numéricos, usan datos medibles para formular hechos y descubrir ciertos patrones. Si la investigación no necesita números entonces es cualitativa, estas necesitarán un muestreo y diseño de muestra.

		img.img-a.mt-5(src="assets/images/pages/tema-5/tema-5-3.svg").img-fluid
		
		.row.justify-content-center.align-items-stretch.mt-5
			.col-6
				.header-arrow.py-4
					h3 Algunos métodos cuantitativos de recopilación de datos de investigación son:
				.jumbotron.bg-7.r-border-sup
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Encuestas con preguntas cerradas.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Ensayos / experimentos clínicos.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Extracción de datos de la computadora y sistemas de información.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Observación y registro de eventos 

		
			.col-6
			
				.header-arrow.py-4
					h3 Algunos métodos cualitativos de recopilación de datos de investigación son:
				.jumbotron.bg-7.r-border-sup
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Revisión de documentos.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Entrevistas en profundidad.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Métodos de observación

		.jumbotron.bg-white.mt-5.py-0
			.row.justify-content-center.align-items-center
				.col-auto
					a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/56316" target="_blank").media-link   

						img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

						.media-link-title
							p #[strong Anexo.] Con respecto a la información la ética es un concepto fundamental y para adentrarse en él se recomienda que revise el contenido del “Capítulo I. Sociedad y ética: aproximación conceptual” Ética de la información Buxarrais & Prats (2013).
