.container.mt-5

	.header-ecored
				
		h1 13. Propuestas comerciales
	
	.card.pb-5

		.card-body

			.text-center.mt-5

				img(src="assets/images/pages/tema-13/tema-13-1.svg").img-fluid

			p.mt-5 Es un documento en el que una persona propone a otra algún plan u oferta de los productos y servicios que tiene a la venta. Dicha propuesta comercial se centra en presentar los puntos que el vendedor considera más importantes de cara al cliente, esta puede ir acompañada de todo tipo de documentos: dosieres, gráficas, vídeos, muestras, etc. 

			p.mt-4 El cliente será quién finalmente los valorará y, en base a dicha propuesta, tomará la decisión de aceptar o no, la compra del producto o servicio.

			br
			br

			.row.bg-azul-claro.rounded.p-5(style="border:1px #50A1C9 solid;")

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

					img(src="assets/images/pages/tema-2/tema-2-12.svg").img-fluid

				.col-md-8.col-lg-8.col-sm-8.col-xs-12.mb-3

					p Las propuestas comerciales es la carta de presentación de una empresa a sus clientes, es por ello que se debe ser cuidadosos para su presentación, para introducir al tema puede dar clic en el siguiente enlace: 

					p.mt-4 https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/50641

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-131 13.1. Necesidades del cliente

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Para conocer las necesidades de los clientes se puede seguir los siguientes pasos:
			
			.row.mt-5.p-4.bg-azul-claro2.mr-2.ml-2

				.col.p-5

					p.font-weight-bold Estudiar ¿qué necesita el cliente?.

					p.mt-4.pr-5 Antes de presentar una propuesta comercial se debe saber lo que busca el potencial cliente y cuáles son sus necesidades. Es recomendable hacer algunas preguntas como: ¿Cuál es el objetivo de la empresa? ¿Qué papel tiene cada uno en relación con ese objetivo? ¿Es razonable el tiempo de trabajo para ejecutar las tareas necesarias? ¿Mi empresa está capacitada y tiene los recursos para concluir el proyecto? Esto ayudará a saber si proseguir o no con la oferta. 

				.col-auto

					img(src="assets/images/pages/tema-13/tema-13-2.svg").img-fluid

			.row.mt-3.p-5.bg-azul4.mr-2.ml-2

				.col-auto

					img(src="assets/images/pages/tema-13/tema-13-3.svg").img-fluid

				.col.p-5

					p.font-weight-bold Comprender al cliente.

					p.mt-4.pr-5 La mejor manera de comprender al cliente es conversando. Intentar identificar cuáles son las preocupaciones de las personas que trabajan en la empresa a la que se apunta, cuáles son sus políticas operacionales y cuál es la filosofía de gestión que practican. Identificar lo que les gusta y lo que no les gusta, para mejorar luego los puntos negativos.

			.row.mt-3.p-5.bg-azul-claro2.mr-2.ml-2

				.col.p-5

					p.font-weight-bold Desarrollar una metodología.

					p.mt-4.pr-5 Una vez se determinen los objetivos y se entiende al cliente, se desarrolla la metodología para alcanzar las metas. Se escribe la propuesta que se le presentará al cliente de acuerdo con las necesidades de ambas partes.

				.col-auto

					img(src="assets/images/pages/tema-13/tema-13-4.svg").img-fluid

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-132 13.2. Tipos de propuestas

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Generalmente existe dos tipos de propuestas:

			br
			br

			.row

				.col-11.m-auto

					.row

						.col-auto

							img(src="assets/images/pages/tema-13/tema-13-5.svg").img-fluid

						.col.p-5

							p.font-weight-bold Propuesta solicitada.

							p Se envía en respuesta a una solicitud específica de un cliente potencial. El cliente puede solicitarlo verbalmente o emitir una solicitud de propuesta, una solicitud de cotización o una solicitud de información.

							p.font-weight-bold.mt-4 Propuesta no solicitada.

							p Se envía a un cliente que no lo ha solicitado. Siempre es genérico, sin conexión directa entre el cliente potencial y los requisitos especificados. Puede enviar una propuesta no solicitada para presentar un producto o servicio a un cliente e intentar convencerlo de que contrate su negocio.

							p.mt-4 Con este tipo de propuesta, corre el riesgo de que el cliente potencial ni siquiera se moleste en leerla, ya que no la solicitó. Sin embargo, la ausencia de competencia a menudo compensa el riesgo.

							p.font-weight-bold.mt-4#tema-133 Plan táctico 

							p El plan táctico o plan estratégico de ventas, permite identificar qué aspectos se debe potenciar o cambiar en la organización para cumplir los objetivos. Su éxito radica en el correcto desarrollo y seguimiento, enfocado a impulsar los esfuerzos comerciales.

			
			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Se pueden encontrar cinco pasos básicos para elaborar un buen plan estratégico de ventas:

			br
			br
			br

			.row

				.col-10.m-auto

					.row.mb-4

						.col-5.text-center

							img(src="assets/images/pages/tema-13/tema-13-6.svg").img-fluid

						.col-7

							p.font-weight-bold Sentar bases.

							p Conocer y analizar las características y el potencial del producto o productos que se ofrece, identificar cuál es nuestro público objetivo, muy importante, analizar a los competidores y lo que ellos ofrecen.

					.row.mt-5.mb-4

						.col-5.text-center

							img(src="assets/images/pages/tema-13/tema-13-7.svg").img-fluid

						.col-7

							p.font-weight-bold Definir objetivos comerciales realistas y bien detallados.

							p Es aconsejable definir y detallar las metas a lograr, los ingresos, la rentabilidad del negocio y sus posibilidades de crecimiento en el mercado que se ubica.

					.row.mt-5.mb-4

						.col-5.text-center

							img(src="assets/images/pages/tema-13/tema-13-8.svg").img-fluid

						.col-7

							p.font-weight-bold Determinar la estrategia de venta.

							p Las estrategias pueden mostrar la mejor cara de la empresa con respecto a sus canales de distribución y comerciales, estos canales están dirigidos al público objetivo y a sus partes; la recomendación es clara, se debe conocer en profundidad a nuestro público objetivo, sus gustos, necesidades y demandas, así como otra información de interés (perfil, patrones de compra, segmentos…).

					.row.mt-5.mb-4

						.col-5.text-center

							img(src="assets/images/pages/tema-13/tema-13-9.svg").img-fluid

						.col-7

							p.font-weight-bold Concretar las tácticas y acciones.

							p Cada una de las tácticas y acciones mencionadas en la planificación de ventas debe incluir un plazo determinado de ejecución, un coste y una previsión del retorno de la inversión. Pueden hacerse desde promociones para ventas, acciones de marketing, contratación de personal, descuentos para aumentar la fidelización de clientes, etc.

					.row.mt-5

						.col-5.text-center

							img(src="assets/images/pages/tema-13/tema-13-10.svg").img-fluid

						.col-7

							p.font-weight-bold Medir, analizar y corregir.

							p La medición de las ventas, los impactos y los diferentes momentos de encuentro entre los clientes y la empresa presenta varias normas a seguir, estas normas están ligadas a la medición constante (diaria) por parte de los empresarios de su público objetivo, sus impactos con el cliente y sus necesidades de trabajo eficiente, siempre buscando el cumplimiento de los objetivos comerciales de la empresa o emprendimiento.


	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-134 13.4. Obligaciones

			p.mt-4 En el sector microfinanciero tendrá lugar las obligaciones en los términos y condiciones que establece la entidad financiera o microfinanciera, en cuanto al ofrecer un producto o servicio a un cliente y estará obligado a cumplirlas se encuentre o no escritas en algún contrato, ya que en principio el asesor comercial microfinanciero será claro en su ofrecimiento inicial al momento de la visita al negocio.

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-135 13.5. Argumentación

			p.mt-4 La argumentación es la parte de la venta en donde el asesor microfinanciero demuestra el entendimiento del cliente y el conocimiento profundo de las soluciones que propone a la problemática del cliente.

			p Es determinante traducir las ventajas del producto en beneficios para el cliente y el problema que se está resolviendo. Es importante conseguir un diálogo honesto y fluido con el cliente, que genere un ambiente de confianza, con respuestas claras y precisas que aclaren las dudas del cliente.

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-136 13.6 Cierre comercial

			.text-center.mt-5

				img(src="assets/images/pages/tema-13/tema-13-11.svg").img-fluid

			.bg-naranja.p-5.cont-flecha.text-center
	
				p.font-weight-bold Existe una gran variedad de cierres, dentro de las propuestas comerciales, aquí se presentan algunos:

			br
			br

			p.font-weight-bold Cierre directo.

			p Probablemente, el más sencillo, consiste en lanzar una pregunta al cliente potencial; esta pregunta confiere un gran poder sobre la situación, porque en ella se da por sentado que la venta está cerrada.

			p.font-weight-bold.mt-4 Cierre de la alternativa.

			p Consiste en ofrecerle al comprador potencial dos opciones, de las cuales tiene que elegir una. El truco está en que ambas presuponen que la decisión de compra ya ha sido tomada.

			p.font-weight-bold.mt-4 Cierre por amarre.

			p Esta técnica trata de conseguir el mayor número de respuestas positivas por parte del cliente potencial.

			p Se debe añadir, como coletilla final tras cada afirmación, una pregunta del tipo: ¿No es así?, ¿verdad?, ¿no cree?, ¿sí o no?

			p.font-weight-bold.mt-4 Cierre de la dificultad.

			p Se suele aplicar cuando se está de frente a un potencial comprador que se muestra receptivo ante la idea de adquirir el producto, pero no parece tener prisa, si no se hace cierre de venta puede que tarde demasiado en decidirse o que, con más tiempo, se lo piense dos veces y decida no comprar.

			p.font-weight-bold.mt-4 Cierre por equivocación.

			p Simular un pequeño error en la información de la que se dispone, o que el cliente te ha proporcionado, tal y como puedes ver en el siguiente ejemplo:

			p Muy bien, pues le apunto aquí que necesita los muebles para el día 21, ¿no?

			p.font-weight-bold.mt-4 Cierre imaginario.

			p Consigue afianzar en la mente del prospecto la decisión de compra sin que apenas se dé cuenta de ello.

			p Consiste en hacer preguntas que plantean situaciones hipotéticas o condicionales, para que el prospecto imagine qué decisiones tomaría en caso de realizar la compra.

			p.font-weight-bold.mt-4 Cierre Benjamín Franklin.

			p Se basa en la típica lista de ventajas y desventajas, o puedes emplear cuando la venta esté perdida. Se divide un folio en dos columnas; a la izquierda se escribe los motivos para comprar el producto o contratar el servicio, y se le pide al cliente potencial que escriba, a la derecha, las razones para no hacerlo. 

			p Este cierre te permitirá saber cuál es la objeción más intensa para poder refutarla.

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-137 13.7. Fidelización.

			p.mt-4 La gestión de fidelización de clientes es una estrategia que permite identificar a los clientes más rentables para conservarlos y aumentar los ingresos que proceden de ellos a través de unas relaciones interactivas de valor añadido a mediano y largo plazo.

			p.mt-4 La fidelización de clientes se basa en la teoría de Pareto la cual para este caso aplicaría que el 20% de los clientes genera el 80% de ingresos, por tanto, se busca identificar los clientes más rentables para conservarlos y de igual forma aumentar los ingresos que provienen de ellos.

			br

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Los pasos que sigue un cliente a lo largo de su estado de fidelidad hacia la marca son los siguientes:

			br
			br

			.row

				.col-10.m-auto

					.row

						.col-4

							.row

								.col-auto

									img(src="assets/images/pages/tema-13/tema-13-13.svg").img-fluid

								.col

									p Satisfacción 

							.row.mt-3

								.col-auto

									img(src="assets/images/pages/tema-13/tema-13-13.svg").img-fluid

								.col

									p Diálogo

							.row.mt-3

								.col-auto

									img(src="assets/images/pages/tema-13/tema-13-13.svg").img-fluid

								.col

									p Repetición de compras 

						.col-4.text-center

							img(src="assets/images/pages/tema-13/tema-13-12.svg").img-fluid


						.col-4

							.row

								.col-auto

									img(src="assets/images/pages/tema-13/tema-13-13.svg").img-fluid

								.col

									p Totalidad de la cuota relativa  

							.row.mt-3

								.col-auto

									img(src="assets/images/pages/tema-13/tema-13-13.svg").img-fluid

								.col

									p Prescripción a terceros

							