.container
	.header-ecored
				
		h1 4. Inteligencia emocional
	
	.jumbotron.bg-white
		.sub-ecored
			h2 4. Inteligencia emocional. 
		img(src="assets/images/pages/tema-4/tema-4-1.png").img-fluid

		p Se entiende por la capacidad de reconocer nuestros propios sentimientos y los de los demás, de motivarnos y de manejar adecuadamente las relaciones.
			.jumbotron.bg-2.mt-5
				.row.justify-content-center.align-items-center
					.col-auto
						img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid
					.col
						p Dentro de la empresa el colaborador experimenta diferentes emociones, y son precisamente estas habilidades blandas las más importantes en el mundo empresarial actual, para profundizar en la inteligencia emocional puede acceder al siguiente vínculo:

						.row.justify-content-center.align-items-center
							.col-auto
								a(href="https://www-digitaliapublishing-com.bdigital.sena.edu.co/a/37854/como-sobrevivir-al-cambio---inteligencia-emocional-y-social-en-la-empresa" target="_blank").media-link   

									img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

									.media-link-title
										p #[strong Anexo.] Capítulo 2. ¿Qué es la inteligencia emocional? 

		p La inteligencia emocional como gran objeto de estudio en el presente siglo tiene la virtud de trabajar en el conocimiento y entendimiento de los sentimientos, la razón y las emociones como se evidencia en el siguiente recurso:

		.row.justify-content-center.align-items-center.my-5

			.col-10
 
				.arrow.r-border 
					h3 Inteligencia emocional

		.row.justify-content-center.align-items-center

			.col-10

				.row.justify-content-center.align-items-center

					.col-12.col-md-6.mt-5
						.row.justify-content-center.align-items-center
							.col-7
								p.p-color.text-center.mb-0 Entienda

						.card-bg-1.p-4.rounded           

							h3.text-center 1. Autoconocimiento:

							p Entiende como tus emociones influyen en tu estado de ánimo

					.col-12.col-md-6.mt-5

						.row.justify-content-center.align-items-center
							.col-7
								p.p-color.text-center.mb-0 Respire

						.card-bg-1.p-4.rounded

							h3.text-center 2. Autocontrol:

							p Domina tus impulsos. Reflexiona y regula tus emociones

				.row.justify-content-center.align-items-center

					.col-12.col-md-6.mt-5

						.row.justify-content-center.align-items-center
							.col-7
								p.p-color.text-center.mb-0  Crea

						.card-bg-1.p-4.rounded

							h3.text-center 3. Motivación:

							p Enfoca tus emociones hacia un objetivo determinado

					.col-12.col-md-6.mt-5

						.row.justify-content-center.align-items-center
							.col-7
								p.p-color.text-center.mb-0  Siéntese

						.card-bg-1.p-4.rounded

							h3.text-center 4. Empatía:

							p Comprende los sentimientos de los demás 
				.row.justify-content-center.align-items-center

					.col-12.col-md-6.mt-5

						.row.justify-content-center.align-items-center
							.col-8
								p.p-color.text-center.mb-0  Escuche y mastica

						.card-bg-1.p-4.rounded

							h3.text-center 5. Relaciones interpersonales:

							p Aprende a comunicarte correctamente con los demás. 

		.sub-ecored.mt-5

			h2#tema-41 4.1. Capacidades

			.jumbotron.bg-4
				.row.justify-content-center.align-items-center

					.col

						p “Cualquiera puede enfadarse, eso es algo muy sencillo. Pero enfadarse con la persona adecuada, en el grado exacto, en el momento oportuno. Con el propósito justo y del modo correcto, eso, ciertamente, no resulta tan sencillo”.

						p Aristóteles (349 a.C.) Ética a Nicómaco.

					.col-auto

						img(src="assets/images/pages/tema-4/tema-4-2.svg").img-fluid

			p Con esta cita inicia el libro de Inteligencia Emocional del escritor Daniel Goleman del que se reflejan muchas historias de vida ganadoras de aprendizaje continuo para evitar que la razón sea motivada por la emoción como por ejemplo “En una escuela local, un niño de nueve años, aquejado de un acceso de violencia porque unos compañeros de tercer curso le habían llamado &lt;< mocoso > &gt;, vertió pintura sobre los pupitres, ordenadores e impresoras y destruyó el automóvil que se hallaba estacionado en el aparcamiento” Goleman (1997).

			p La idea es identificar las propias emociones y regularlas de forma adecuada.

			p.text-center Esta consta de algunos componentes:
			img.img-a.mt-5(src="assets/images/pages/tema-4/img1.png").img-fluid

		.sub-ecored.mt-5

			h2#tema-42 4.2. Habilidades

		p.mt-5 Son las capacidades que tienen las personas para realizar algunas cosas con facilidad y de manera correcta.

		.header-arrow.my-5
			h3 Dentro de la inteligencia emocional existen varias habilidades que se debe aprender a desarrollar tales como:

		.sub-ecored.mt-5

			h3 4.2.1. Competencia para la vida y el bienestar.

		p Esta habilidad sirve para afrontar satisfactoriamente los desafíos de la vida, adoptando comportamientos apropiados y responsables. Dentro de esta competencia podemos incluir la habilidad para fijar objetivos realistas, toma de decisiones, búsqueda de recursos y ayuda.

		.sub-ecored.mt-5

			h3 4.2.2. Habilidades sociales.

		p Conductas aprendidas de forma natural, necesarias para entablar relaciones de calidad, y generar vínculos con otras personas.

		.sub-ecored.mt-5

			h3 4.2.3. Habilidades de comunicación.

		p Capacidad de transmitir información a las personas de manera clara y simple, gracias a estas se pueden dar y comprender instrucciones, aprender cosas nuevas, realizar solicitudes, hacer preguntas etc. 

		.sub-ecored.mt-5

			h3 4.2.4. Empatía.

		p Capacidad de experimentar y comprender las emociones que otra persona está sintiendo, compartir el estado emocional.

		p Tiene 3 elementos: 
		.row.justify-content-center.align-items-center
			.col-11

				p.mt-2 a) Atención

				p.mt-1 b) Sensación de bienestar mutua.

				p.mt-1 c) Coordinación no verbal.

		.sub-ecored.mt-5

			h3 4.2.5. Optimismo.

		p Tener fuerte expectativa de que en general, las cosas irán bien.


		.sub-ecored.mt-5

			h2#tema-43 4.3. Resiliencia

		p Como lo asegura el neurólogo, psiquiatra, psicoanalista y etólogo francés Boris Cyrulnik(s.f.) “La resiliencia es el arte de navegar en los torrentes”, es la capacidad de ser feliz incluso cuando tienes heridas en el alma.

		p El afecto en las personas ayuda a la resiliencia, es una especie de motivador.

		p Cuando las personas se encuentran heridas por alguna circunstancia necesitan transformar ese dolor, por ejemplo: el niño herido que se vuelve altruista, empático y generoso, el niño comprende el dolor más que nadie porque ha pasado por él, o el hijo sin padre que acaba siendo un padre magnífico.

		p La resiliencia se puede construir por ejemplo cuando se encuentra a alguien que transmita seguridad afectiva, sea profesional o no.

		p De una manera u otra todos los seres humanos pueden pasar por momentos difíciles, lo importante es no quedarse en ese pasado, sino darle un sentido diferente a la vida, más significativo, que cobre sentido y es en este punto donde cobra relevancia la resiliencia.
		.sub-ecored.mt-5

			h2#tema-44 4.4. Lenguaje verbal

		p Cuando se habla de lenguaje verbal se hace referencia a la manera cómo las personas se comunican teniendo en cuenta los siguientes aspectos:
		
		img.img-a(src="assets/images/pages/tema-4/tema-4-7.png").mt-5.img-fluid

		.jumbotron.bg-5
			.row.justify-content-center.align-items-center
				.col-12.col-md-6 
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Tono y volumen de voz.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Inflexiones en la voz.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Gestos de la cara, cuerpo y manos.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Postura y distancia.

				.col-12.col-md-6 
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Sonrisa.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Contacto visual 
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top (expresión, mirada, brillante, triste, pupilas dilatadas).
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Contacto físico.

		.sub-ecored.mt-5

			h2#tema-45 4.5. Lenguaje no verbal

		p El lenguaje o comunicación no verbal, sirve para reemplazar o complementar las palabras, repite en cierta manera lo que se está diciendo y enfatiza el mensaje verbal, inclusive muestra sentidos diferentes al oído.
		.header-arrow.my-5
			h3 A continuación se exponen los tipos de comunicación no verbal más comunes:

		.jumbotron.bg-6
			.row.justify-content-center.align-items-center

				.col-auto

					img(src="assets/images/pages/tema-4/tema-4-8.png").img-fluid

				.col.mt-5

					p 4.5.1. Lenguaje corporal.

					p Nuestros gestos, movimientos, nuestra ropa, forman parte de los mensajes cuando nos comunicamos con los demás.
			hr
			.row.justify-content-center.align-items-center.mt-5

				.col-auto

					img(src="assets/images/pages/tema-4/tema-4-9.png").img-fluid

				.col.mt-5

					p 4.5.2. Lenguaje proxémico.

					p Es el uso que se le da al espacio específico donde se desenvuelve el hablante y también a la percepción que éste tiene de su entorno cercano.
			hr
			.row.justify-content-center.align-items-center.mt-5

				.col-auto

					img(src="assets/images/pages/tema-4/tema-4-10.png").img-fluid

				.col.mt-5

					p 4.5.3. Lenguaje kinésico.

					p Son los gestos, movimientos del cuerpo, postura del mismo y las expresiones faciales que utilizan los hablantes sean conscientes o inconscientes.
			hr
			.row.justify-content-center.align-items-center.mt-5

				.col-auto

					img(src="assets/images/pages/tema-4/tema-4-11.png").img-fluid

				.col.mt-5

					p 4.5.4. Lenguaje icónico.

					p Son las imágenes de los objetos, su representación simbólica. Poseen una doble dimensión, esto es que una ilustración, que se entiende es gráfica, también tiene una explicación escrita.

					p El lenguaje no verbal es parte inseparable del proceso de comunicación, ya que cuando se comunica, se transmite no solo información, sino también, emociones, afectos, sentimientos. 