.container.mt-5

	.header-ecored
				
		h1 12. Administración de riesgos
	
	.jumbotron.bg-white
		p Es el conjunto de técnicas y procedimientos usados para el análisis, identificación, evaluación y control de aquellos efectos adversos consecuencia de los riesgos o eventualidades a los que se expone una empresa o entidad financiera y microfinanciera, de esta manera lograr reducirlos, evitarlos, retenerlos o transferirlos.
		img.img-a(src="assets/images/pages/tema-12/tema-12-1.png").img-fluid

		.sub-ecored.mt-5

			h2#tema-121 12.1. Tipos de riesgos (SARLAFT, SARO, ARAS, SAC)

		.jumbotron.bg-6.bg-9
			p #[strong SARLAFT:] Sistema Administrativo de Riesgo de Lavado de Activos y Financiación del Terrorismo.

			p El SARLAFT para el sistema financiero se contempla a través de los artículos 102 al 105 del Estatuto Orgánico del Sistema Financiero (Decreto 663 de 1993) y del capítulo IV del título IV de la Parte de la Circular Básica Jurídica de la Superintendencia Financiera de Colombia se consagran las instrucciones relativas a la administración del riesgo de lavado de activos y de la financiación del terrorismo y para el sector cooperativo en el Capítulo XI de su Circular Básica Jurídica la Superintendencia de la Economía Solidaria.

			p Lavado de activos y financiación del terrorismo (LA/FT) la posibilidad de pérdida o daño que puede sufrir una entidad vigilada ya que es susceptible para ser utilizada, directamente o a través de sus operaciones, como instrumento para el lavado de activos y/o canalización de recursos hacia la realización de actividades terroristas, o cuando se pretenda el ocultamiento de activos provenientes de dichas actividades.
		.jumbotron.bg-6.bg-9.mt-5
			p.mt-2 #[strong SARO:] Sistema Administrativo de Riesgo Operativo.

			p “Conjunto de elementos tales como políticas, procedimientos, documentación, estructura organizacional, registro de eventos de riesgo operativo, órganos de control, plataforma tecnológica, divulgación de información y capacitación, mediante los cuales las entidades vigiladas identifican, miden, controlan y monitorean el riesgo operativo” Superintendencia Financiera de Colombia (1995).
		.jumbotron.bg-6.bg-9.mt-5

			p.mt-2 #[strong ARAS:] Análisis de Riesgos Ambientales y Sociales 

			p Constituye el conjunto de políticas, mecanismos, herramientas y procedimientos para una fácil y oportuna identificación, evaluación, reducción y seguimiento de los riesgos ambientales y sociales generados por los beneficiarios en el desarrollo de sus actividades, de manera que se minimicen las posibilidades de asumir los costos transferidos por estos riesgos.

		.sub-ecored.mt-5

			h2#tema-122 12.2. Principios básicos
		
		.row.justify-content-center.align-items-stretch
			.col-6
				.header-arrow
					h3 SARLAFT #[br]Contiene los siguientes elementos importantes para su ejecución y estricto cumplimiento:
				.jumbotron.bg-6
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Políticas.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Procedimientos generales y especiales.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Mecanismos de control.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Instrumentos de control.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Estructura organizacional.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Órganos de control.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Capacitación.

			.col-6
				.header-arrow
					h3 SARO #[br] Contiene los siguientes elementos importantes para su ejecución y estricto cumplimiento:
				.jumbotron.bg-6
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Políticas.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Procedimientos.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Documentación.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Estructura organizativa.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Registro de eventos de riesgo operativo.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Órganos de control.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Infraestructura tecnológica.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Divulgación de la información.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Capacitación.

		.jumbotron.bg-6.text-center.mt-5
			p.mb-0 ARAS: No registra.

		.sub-ecored.mt-5

			h2#tema-123 12.3. Etapas

		.jumbotron.bg-2.mt-5
			h3 SARLAFT:

			p Etapas:  Como resultado las organizaciones solidarias vigiladas deben estar en capacidad de:

			.row.justify-content-center.align-items-center
				.col-auto 
					img.img-a(src="assets/images/pages/tema-12/img1.png").img-fluid

				.col

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Identificación: identificar los factores de riesgo y riesgos asociados a los cuales se ven expuestas.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Medición: establecer el perfil de riesgo inherente y residual, las mediciones agregadas en cada factor de riesgo y riesgos asociados.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Control: el control debe traducirse en disminución de la posibilidad de ocurrencia y/o impacto en caso de materializarse el riesgo.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Monitoreo: debe permitir hacer seguimiento en general del SARLAFT – perfil de riesgo y evolución del mismo.
		
		.jumbotron.bg-2.mt-5
			h3 SARO:

			p Las etapas a considerar en todo Sistema de Administración de Riesgos Operativos son:

			.row.justify-content-center.align-items-center
				.col

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Identificación: Identificar los riesgos operativos que han ocurrido, así como, aquellos riesgos operativos en potencia que van a suponer una serie de obstáculos de cara al logro de los objetivos.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Medición o Evaluación: El siguiente paso es evaluar la posibilidad de materialización de los riesgos y definir el impacto que los mismos podrían generar en caso de ocurrencia.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Control o Mitigación: Se definen las medidas de control que permitan reducir la probabilidad de ocurrencia y/o los impactos ocasionados por los riesgos inherentes detectados.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Monitoreo: Se lleva a cabo el seguimiento adecuado a los riesgos con el fin de ir analizando su evolución.
				.col-auto 
					img.img-a(src="assets/images/pages/tema-12/img2.png").img-fluid
		
		.jumbotron.bg-2.mt-5.text-center
			h3.mb-0 ARAS: No registra 

		.sub-ecored.mt-5

			h2#tema-124 12.4. Criterios para la identificación de alertas y operaciones sospechosas

		p Identificar operaciones sospechosas permite reconocer movimientos inusuales de un cliente.

		p Es esencial reconocer aquellas transacciones o movimientos incompatibles con las actividades regulares de un cliente, que pueden ser señales de alerta.

		.header-arrow.mt-5

			h3 Los siguientes son algunos criterios que pueden servir como indicio para reconocer un posible blanqueo de capitales:
		.jumbotron.bg-6.r-border-sup
			.row.justify-content-center.align-items-center
				.col
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Transacciones cuyos valores sean incompatibles con la ocupación profesional y la situación financiera declarada.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Movimientos inesperados en las operaciones y en el manejo de las cuentas.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Operaciones que demuestren una oscilación significativa en relación con el volumen o la frecuencia de negocios del cliente.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Depósitos y transferencias pequeños que de inmediato se transfieren a cuentas de otros países o regiones.
		
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Operaciones que evidencian un cambio repentino y objetivamente injustificado en comparación con el histórico del cliente.
					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Operaciones cuyo grado de complejidad y de riesgo sea incompatible con la cualificación técnica del cliente.
			.jumbotron.bg-2.mt-5 
				.row.justify-content-center.align-items-center
					.col-auto
						img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

					.col
						p Como lo pudo revisar en el contenido formativo, el sector financiero es muy vulnerable a diferentes riesgos, es por eso que hay toda una normatividad para su análisis y prevención.

				.row.justify-content-center.align-items-center
					.col-auto
						a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/stage.aspx?il=3224&pg=&ed=" target="_blank").media-link   

							img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

							.media-link-title
								p #[strong Anexo.] Para profundizar con el tema puede hacer clic