.container.mt-5

	.header-ecored
				
		h1 8. Centrales de información
	
	.jumbotron.bg-white

		p Las bases de datos o centrales de información en Colombia son la Central de Información de la Asociación Bancaria y de Entidades Financieras de Colombia -CIFIN-, Datacrédito, Covinoc, Computec, Credicheque, Fenalcheque, etc... 
		.row.justify-content-center.align-items-center.mt-5
			.col-3
				img.img-a(src="assets/images/pages/tema-8/img1.png").img-fluid

			.col-3
				img.img-a(src="assets/images/pages/tema-8/img2.png").img-fluid

			.col-3
				img.img-a(src="assets/images/pages/tema-8/img3.png").img-fluid

			.col-3
				img.img-a(src="assets/images/pages/tema-8/img4.png").img-fluid


		p.mt-5 Estas entidades son sociedades o agremiaciones de carácter privado en las cuales se registra el comportamiento crediticio, financiero y comercial de las personas que celebren operaciones con entidades financieras, cooperativas y empresas del sector real.

		.sub-ecored.mt-5

			h2#tema-81 8.1. Buró de crédito
		.row.justify-content-center.align-items-center.mt-5
			.col
				p El buró de crédito es una empresa privada, independiente de las instituciones financieras, de las comerciales y de las gubernamentales, que tiene como fin concentrar y proporcionar a sus empresas afiliadas, la información referente al comportamiento que han tenido las personas físicas y morales con respecto a sus créditos.
			.col-auto
				img.img-a(src="assets/images/pages/tema-8/tema-8-1.png").img-fluid

		.sub-ecored.mt-5

			h2#tema-82 8.2. Tipos de consulta

		.header-arrow.mt-5

			h3 Existen básicamente 2 tipos de consulta: interna y externa
		.jumbotron.card-bg-1.r-border-sup.mb-0.pb-0
			h3 Interna.

			p.mt-3 Es la que se realiza al interior de las empresas, normalmente las entidades financieras, tienen sus propias consultas internas, es decir observan el comportamiento financiero de sus clientes con sus productos y servicios.

			h3.mt-4 Externa

			p.mt-3 Son las realizadas por las centrales de riesgo las cuales almacenan los datos de identificación, ubicación demográfica, comportamiento de pago y nivel de endeudamiento. De acuerdo con la ley 1266 de 2008, tienen la competencia de llevar y conservar los datos de las personas que celebran operaciones crediticias con entidades financieras o empresas.
		.row.justify-content-center.align-items-center
			.col-auto 
				img.img-a(src="assets/images/pages/tema-8/img5.png").img-fluid

			.col
				p.mt-3 Entre las principales centrales de riesgo en Colombia se encuentran:
				.list
					.list__item
						.list__item__icon
							img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
					.list__txt    
						p.m-top Datacrédito
				.list
					.list__item
						.list__item__icon
							img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
					.list__txt    
						p.m-top Central de Información Financiera (CIFIN)
				.list
					.list__item
						.list__item__icon
							img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
					.list__txt    
						p.m-top Fenal cheque
				.list
					.list__item
						.list__item__icon
							img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
					.list__txt    
						p.m-top Covinoc
				.list
					.list__item
						.list__item__icon
							img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
					.list__txt    
						p.m-top Procrédito

		p Como lo dice Finandina (2020) “las centrales de riesgo en Colombia verifican tus datos crediticios de forma mensual. Es decir que revisan los pagos realizados de forma puntual, las deudas por pagar, los ingresos y tu capacidad de pago. A su vez, registran y evalúan tus finanzas. Ten presente que se puede obtener información hasta de los últimos 24 meses”.

		p Continúa Finandina (2020) diciendo “si cuentas con un reporte negativo, esta información no podrá exceder los cuatro años en la base de datos. De acuerdo con la Sentencia C-1011 de 2008, este tiempo será contado a partir de la fecha en que se cancelen las cuotas u obligaciones vencidas. Además, si la deuda contraída es menor a dos años, no podrá permanecer el doble del tiempo en que incurrió en mora”.

		.sub-ecored.mt-5

			h2#tema-83 8.3. Interpretación 

		p Su interpretación dependerá del buró de crédito al cual se este refiriendo, por ejemplo: en CIFIN Central de Información Financiera aparecerán todos los datos de la persona a quien se esté consultando con todos los productos del activo y del pasivo, vigentes o cancelados que tenga o haya tenido al momento de la consulta en los tres sectores de la economía: sector financiero, real y solidario.
		
		img.img-a(src="assets/images/pages/tema-8/img6.png").mt-5.img-fluid

		.header-arrow.mt-5

			h3 En la consulta a la CIFIN se encuentra la siguiente información:
		.jumbotron.bg-6
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Resumen de endeudamiento.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Información de cuentas (corriente y de ahorros).
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Información de endeudamiento en los sectores financiero, asegurador y solidario.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Información de endeudamiento en el sector real (adquisición de bienes y prestación de servicios).
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Huella de consulta últimos 6 meses.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Endeudamiento Global: consolidado trimestral.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Endeudamiento Global: información detallada.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Endeudamiento Global: actualizaciones.

		.sub-ecored.mt-5

			h2#tema-84 8.4. Autorizaciones

		p La Ley Habeas Data busca proteger los datos personales de los colombianos. Eso quiere decir que cualquier persona natural o jurídica que desee usar un dato personal que aparece en una base de datos debe cumplir un requisito, el de solicitar la respectiva autorización del titular de ese dato. Si no lo hace, infringe la ley y se someterá a una sanción por parte de la Superintendencia de Industria y Comercio-SIC

		.sub-ecored.mt-5

			h2#tema-85 8.5. Reporte de dichas centrales.
			
		.row.justify-content-center.align-items-center
			.col 
				p De acuerdo con el Artículo 14 de la Ley 1266 de 2008, en el historial de crédito, se reporta la información positiva y negativa del titular. Por información positiva debe entenderse aquella que evidencia el buen comportamiento de pago del titular, es decir, cuando el titular cumple la obligación en el tiempo y forma debida. Por otra parte, el reporte de información negativa refleja el estado de mora en las cuotas u obligaciones del titular cuando no se cumplen en el tiempo y forma de pago debida.
			.col-auto 
				img(src="assets/images/pages/tema-8/tema-8-4.svg").img-fluid

		p.mt-5 Es importante tener en cuenta que el reporte de información positiva o negativa no sólo se refiere a obligaciones contraídas con entidades financieras, como créditos de vivienda o tarjetas de crédito, también incluye las obligaciones contraídas con establecimientos de comercio como líneas de telefonía celular y televisión por cable, entre otros servicios o incumplimiento en pago de productos. 

			.jumbotron.bg-2.mt-5 
				.row.justify-content-center.align-items-center
					.col-auto
						img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

					.col
						p Es importante mantener el buen nombre frente a las entidades financieras, del sector real y solidario, para ello se hace necesario tener en cuenta las finanzas personales como herramienta fundamental, para conocer más sobre este tema puede dar clic al siguiente enlace: 

				
				.row.justify-content-center.align-items-center
					.col-auto
						a(href="https://www-digitaliapublishing-com.bdigital.sena.edu.co/a/54794/finanzas-personales--su-mejor-plan-de-vida" target="_blank").media-link   

							img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

							.media-link-title
								p #[strong Anexo.] Libro Finanzas personales, su mejor plan de vida. Capítulo 1. Conceptos iniciales p.16. Rodríguez (2017). 