.container.mt-5

    .header-ecored
                
        h1 2. Productos y servicios microfinancieros
    
    .card.pb-5

        .card-body

            p.mt-4 Los productos y servicios microfinancieros generalmente son los beneficios tangibles e intangibles que una entidad financiera o microfinanciera entrega exclusivamente a sus clientes microempresarios.

    br

    .card.pb-5.pt-5

        .card-body

            h2#tema-21 2.1. Tipos y características.

            .bg-naranja.p-5.mt-5.cont-flecha.text-center

                p.font-weight-bold Son los centros de relación entre la entidad y sus usuarios, estos son los más relevantes según su nivel de prestación:

            .row

                .col-md-4.col-lg-4.col-sm-4.col-xs-12.mb-3

                    img(src="assets/images/pages/tema-2/tema-2-1.svg").img-fluid

                .col-md-4.col-lg-4.col-sm-4.col-xs-12.mb-3

                    br
                    br
                    br

                    .row.mt-5

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p El microcrédito

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p Tarjetas de crédito

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p Microahorro

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p Microseguros

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p CDT´s


                .col-md-4.col-lg-4.col-sm-4.col-xs-12.mb-3

                    br
                    br
                    br

                    .row.mt-5

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p Oficina virtual

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p PSE

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p Banca Móvil

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p Tarjeta débito

                    .row.mt-2

                        .col-auto

                            img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                        
                        .col

                            p Entre otros dependiendo del portafolio de la entidad.

            p.mt-4 A continuación se hace la explicación de cada uno y sus características más representativas.


    br

    .card.pb-5.pt-5

        .card-body

            h2#tema-22 2.2. Características.

            .bg-naranja.p-5.mt-5.cont-flecha.text-center

                p.font-weight-bold Las características dependen en gran medida de las políticas de cada entidad, sin embargo, nivel general se encuentran:
            
            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-3.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold Microcrédito:
            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Préstamos pequeños, que se usa para impulsar proyectos productivos: su destino puede ser capital de trabajo, adquisición de activos fijos productivos, inclusive libre inversión entre otros.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p La amortización o pago de capital depende de cada proyecto, y puede ser a corto o mediano plazo.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Pueden existir períodos de gracia o no pago y en otros devolución parcial o total del dinero.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p El valor dependerá de la necesidad del negocio y la capacidad de endeudamiento.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Las tasas de interés máximo son estipuladas por la Superintendencia Financiera de Colombia.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p La garantía dependerá de la política de crédito de la entidad.
            
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.

            
            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-4.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold Tarjetas de crédito:
            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Tasas de interés preferencial.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Compras nacionales e internacionales.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Disponibilidad de avances (dinero en efectivo).

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Con ella puede realizar pagos de insumos para la microempresa.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Puede tener asistencias y seguros exclusivos para microempresarios.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Los cupos dependen de la política de crédito de la entidad y de la capacidad de endeudamiento del microempresario.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.

            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-5.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold Microahorro.

            p.mt-4  Las cuentas de ahorro tendrán características diferentes dependiendo de la entidad financiera, podrán:

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p No tener cuota de manejo. 

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Tener retiros ilimitados.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p No requerir saldos mínimos.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Contar con el beneficio de no cobro del 4x1000.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Montos mínimos de apertura.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Medios de manejo: tarjeta débito o libreta.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Liquidación de intereses (según promedios).

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Seguro FOGAFIN

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.
            
            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-6.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold Microseguros.

            p.mt-4 Son una forma de protección económica dirigida a los pobres, frente a una amenaza o contra la posibilidad de sufrir alguna pérdida humana o material como lo expone López (2018) en estos tres puntos:

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Buscan prevenir que, ante adversidades económicas inesperadas, las personas de escasos recursos caigan más en la pobreza o se perpetúen en ella.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Su cobertura es limitada y sus primas son de bajo costo.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Mitigación de las pérdidas económicas de la población pobre frente a los diferentes riesgos.


            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-7.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold CDT´s.

            p.mt-4 Certificados de depósito a término fijo: 

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Reconoce intereses fijos o variables dependiendo del monto y plazo pactados.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Negociable en la bolsa de valores.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Posibilidad de endoso (transferir a otra persona), antes de su vencimiento.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Seguro FOGAFIN.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.

            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-8.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold Oficina Virtual

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Ahorra tiempo al realizar transacciones desde cualquier lugar.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Minimiza los costos financieros por transacciones y consultas.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Accede al portafolio de productos y servicios financieros de la entidad.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Dispone de la información financiera.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Se pueden matricular cuentas de otras entidades, así como facturas y servicios públicos.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Se pueden realizar transacciones como avances de tarjeta a cuentas de ahorro o corriente, abonos a créditos, recarga de celulares.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.


            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-9.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-3.m-auto

                        p.font-weight-bold PSE (Pagos Seguros en Línea).

            p.mt-4 Como lo dicen en el Colegio Agustiniano en 2016 en su instructivo PSE “Sistema centralizado y estandarizado, desarrollado por ACH Colombia, donde las empresas brindan a los usuarios la posibilidad de realizar sus pagos y/o compras a través de internet, debitando los recursos de la entidad financiera donde tenga su dinero y depositándolos en la cuenta de las empresas”.

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Confirma e identifica en línea y en tiempo real las transacciones.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Ahorra gastos operativos, tiempos y recursos.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Evita errores en pagos y/o recaudo.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Brinda seguridad y agilidad al reducir el manejo de efectivo.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.


            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-10.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold Banca Móvil.

            p.mt-4 Alternativa que ofrecen las entidades financieras, se puede usar a través del teléfono celular, teniendo acceso inmediato a los productos para realizar transacciones, las operaciones que se pueden realizar por este medio son:

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Se pueden realizar consultas, realizar pagos.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Tienen medidas de seguridad y elimina traslados innecesarios ahorrando tiempo.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Servicios las 24 horas.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Agilidad en trámites.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Reducción de costos.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.

            

            .justify-content-center.text-center

                img(src="assets/images/pages/tema-2/tema-2-11.svg").mt-5.img-fluid

                .row.mt-4
                
                    .bg-naranja.rounded.p-3.col-2.m-auto

                        p.font-weight-bold Tarjeta débito.

            p.mt-4 Es un medio de manejo para las cuentas de ahorro y/o corriente de los clientes, son los plásticos con los que se caracteriza al cliente para ser reconocido por los canales digitales análogos como los son los datáfonos y los cajeros electrónicos, estos elementos tienen las siguientes características especiales:

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Contiene la información del cliente por medio de un chip.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Se pueden realizar transacciones en oficinas, cajeros automáticos, compras en establecimientos comerciales y por internet.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Hace las funciones del dinero en efectivo sin llevarlo consigo.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Tiene clave para su uso y es asignada por el mismo cliente.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Puede o no tener cuota de manejo (depende del tipo de cuenta y de la política de la entidad).

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid
                
                .col

                    p Entre otros.

            br
            br
            br

            .row.bg-azul-claro.rounded.p-5(style="border:1px #50A1C9 solid;")

                .col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

                    img(src="assets/images/pages/tema-2/tema-2-12.svg").img-fluid

                .col-md-8.col-lg-8.col-sm-8.col-xs-12.mb-3

                    p.font-weight-bold Otros productos y servicios financieros con sus características pueden ser consultados en los siguientes links:

                    p.mt-4 Productos y servicios financieros y de seguros básicos, tema 9 en https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/43077 

                    p.mt-4 Manual de productos, servicios y activos financieros. Unidad formativa 3: análisis de productos en 

                    p https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/50720 

                .col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3


            