.container.mt-5

	.header-ecored
				
		h1 10. Políticas organizacionales
	
	.jumbotron.bg-white
		img.ing-a(src="assets/images/pages/tema-10/tema-10-1.png").img-fluid
		
		p También llamadas políticas de la empresa o entidades financieras y microfinancieras, estas son importantes para el funcionamiento de las mismas, se podría decir que son como las reglas de juego de las compañías para su organización y cumplimiento de objetivos.

		p En las políticas se establecen las directrices básicas sobre los procesos y comportamientos de sus colaboradores, estos se encuentran establecidos en documentos tales como manuales y políticas de las entidades.
			.jumbotron.bg-2.mt-5 
				.row.justify-content-center.align-items-center
					.col-auto
						img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

					.col
						p Una empresa debe estandarizar procesos y seguir una serie de lineamientos para lograr sus objetivos, esto lo puede realizar a través de sus políticas organizacionales, para introducir en el tema puede dirigirse a los siguientes enlaces:
		
				.row.justify-content-center.align-items-center
					.col-auto
						a(href="https://www-digitaliapublishing-com.bdigital.sena.edu.co/a/38233/desarrollo-y-eficacia-organizacional" target="_blank").media-link   

							img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

							.media-link-title
								p #[strong Anexo.] Pucheu, (2014). Desarrollo y eficacia organizacional. 

		.sub-ecored

			h2#tema-101 10.1. Lineamientos

		.row.justify-content-center.align-items-center
			.col
				p Las entidades financieras y microfinancieras adoptan unos lineamientos en sus políticas de crédito que dan la pauta para determinar el otorgamiento del microcrédito, se establecen criterios para evaluar a sus clientes y determinar el nivel de riesgo al que se encuentran expuestas con cada crédito desembolsado.

				p Dentro de estos lineamientos se encuentran también las estrategias en colocación de microcréditos, el mercado objetivo al cual van dirigidos, los límites y procedimiento en el otorgamiento y posterior recuperación de cartera.
			.col-auto
				img.img-a(src="assets/images/pages/tema-10/tema-10-2.png").img-fluid

		.header-arrow.mt-5
			h3 Para ilustrar mejor, las siguientes son políticas de una institución microfinanciera para el otorgamiento de microcréditos:
		
		.jumbotron.bg-6
			p.mt-1 Políticas de la institución de microcrédito:
			.list.mt-1
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Monto: créditos solo a dueños de negocio desde $1.000.000 hasta 25 o 120 salarios mínimos legales vigentes.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plazos: Entre 6 a 24 meses.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Destino del crédito: Solo presta para capital de trabajo o activos fijos.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Interés: 3,6% mensual
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Comisión: 7.5% para créditos menores a 4 salarios mínimos y 4,5% para montos iguales o mayores a 4 salarios mínimos legales vigentes.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Características del negocio: Este no puede tener más de 10 trabajadores; en activos totales el valor debe ser inferior a 500 salarios mínimos mensuales legales vigentes, unas ventas anuales máximas de 800.000.000 de pesos colombianos.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Mirar clasificación y preguntar microfinancieras.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Antigüedad del negocio: Mínimo 1 año en el lugar.
						.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Servicios públicos al día.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top 1 referencia comercial, 1 referencia personal, 1 referencia familiar.

		.sub-ecored.mt-5

			h2#tema-102 10.2. Requisitos 

		p Los requisitos solicitados dependerán de las políticas de crédito de cada entidad financiera o microfinanciera, también dependerán del monto.

		.jumbotron.bg-6
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito con cédula, sin codeudor desde $1.000.000 hasta $2.500.000.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito con casa propia desde $2.501.000 hasta $7.000.000 (mostrando certificado de tradición y libertad)
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito con codeudor con salario a término indefinido desde $2.501.000 hasta $5.000.000. (Se presta dependiendo del negocio y del salario del codeudor).
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito con codeudor con salario a término fijo desde $2.501.000 hasta $3.500.000. (Se presta dependiendo del negocio y del salario del codeudor).
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito con codeudor que posee negocio con un año de antigüedad desde $2.501.000 hasta $5.000.000 (Se presta dependiendo del negocio tanto del propietario como del codeudor).
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito con codeudor con finca raíz desde $2.501.000 hasta $5.000.000.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito con dos codeudores, pueden ser con finca raíz, salario con contrato a término indefinido o con negocio, se presta desde $5.001.000 hasta 25 salarios mínimos legales vigentes.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Crédito hipotecando la casa propia desde $7.001.000 hasta 25 salarios mínimos legales vigentes.
	
		.sub-ecored.mt-5

			h2#tema-103 10.3. Clases
		.row.justify-content-center.align-items-center
			.col
				p La política organizacional dependerá del tipo de empresa, inclusive del área, en el caso de las entidades financieras y microfinancieras también adoptan distintas políticas algunas como:
				.row.justify-content-center.align-items-center
					.col-6
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Corporativa
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top De Derechos Humanos 
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Generales de sostenibilidad
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top De riesgo
								
					.col-6
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top De crédito 
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top De cobranza
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top Comercial
						.list
							.list__item
								.list__item__icon
									img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
							.list__txt    
								p.m-top De servicios

			.col-auto

				img(src="assets/images/pages/tema-10/tema-10-3.png").img-fluid