.container.mt-5

	.header-ecored
				
		h1 7. Técnicas de ventas
	
	.card.pb-5

		.card-body

			p.mt-4 Las técnicas de ventas son las estrategias que tenemos para persuadir al potencial cliente para que realice la compra.

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Algunas técnicas clásicas son:

			br
			br

			.row.bg-rosado.p-4

				.col-auto

					img(src="assets/images/pages/tema-7/tema-7-1.svg").img-fluid

				.col
					br
					br
					br

					p.mt-4.font-weight-bold AIDDA

					p.mt-2 Atención, Interés, Demostración, Deseo y Acción.

					p.mt-4.font-weight-bold SPIR

					p.mt-2 Situación, Problema, Implicación, Resolución.

					p.mt-4.font-weight-bold AICDC

					p.mt-2 Atención, Interés, Convicción, Deseo y Cierre. 

					p.mt-4.font-weight-bold SPIN

					p.mt-2 Situación, Problema, Implicación y Necesidad.

			.row.p-4.bg-naranja

				.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.mt-4.p-4

					p.font-weight-bold Ofrecer valor agregado

					p.mt-2 Ofrecer algo extra será una garantía, tener el mejor precio en el mercado puede ser una buena opción.

				.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.mt-4.p-4

					p.font-weight-bold El sitio de venta

					p.mt-2 Es importante el sitio donde se desarrolle el e-commerce, espacios como Buscapé,  Mercado Libre o Qué Barato, para vender productos.

				.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.p-4

					p.font-weight-bold Actualización constante

					p.mt-2 Importante la actualización del sitio, fotografías nuevas o nuevas ofertas, esto genera confianza en la clientela.

				.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.p-4

					p.font-weight-bold De difusión

					p.mt-2 Será clave que busques la manera de tener la mejor posición en los buscadores de internet como Google o Bing.

				.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.p-4

					p.font-weight-bold Estudio de mercado

					p.mt-2 La investigación en el mercado es importante porque es el mejor instrumento para entender y gestionar las acciones para el público objetivo.

				.col-12.text-center

					img(src="assets/images/pages/tema-7/tema-7-2.svg").img-fluid

			
			br
			br

			.row.bg-azul-claro.rounded.p-5(style="border:1px #50A1C9 solid;")

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

					img(src="assets/images/pages/tema-2/tema-2-12.svg").img-fluid

				.col-md-8.col-lg-8.col-sm-8.col-xs-12.mb-3

					p La fórmula del éxito de las empresas en sus ingresos es la manera como venden sus producto y servicios y sus técnicas, para conocer algunas técnicas y casos reales de empresas que implementaron estrategias de marketing puede hacer clic en los siguientes enlaces: 

					p.mt-4 #[strong Aplicación de técnicas de venta p. 63 del libro Técnicas de venta:] UF0031. Arenal (2017).   https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/44231 

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-710 7.10. Asesoría integral

			p.mt-4 El asesoramiento integral es un asesoramiento para todos los aspectos de su situación financiera. 

			p El asesoramiento integral se relaciona con una situación financiera en conjunto, por lo que el resultado final es un plan financiero que cumple con sus objetivos a través de un conjunto de recomendaciones altamente personalizadas e interrelacionadas.  


	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-711 7.11. Parámetros de entrevista

			p.mt-4 Estos dependerán muchas veces del tipo de empresa y el tipo de cliente al que se vaya a dirigir el asesor, sin embargo, a nivel general se deben tener algunos parámetros de entrevista que le serán de gran ayuda:
			br
			.row.mt-5

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold A

				.col

					p Definir la persona a contactar, conocer el tipo de cliente al que se va a dirigir, sus características, segmentación al que corresponde.

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold B

				.col

					p Definir el producto o productos a vender en función de la información.

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold C

				.col

					p En el momento de verdad con el cliente, tendrá en cuenta el proceso de comunicación, la escucha activa, el lenguaje verbal y no verbal.

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold D

				.col

					p El asesor deberá tener en cuenta la técnica de las preguntas.

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold E

				.col

					p Importante el manejo de objeciones.

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold F

				.col

					p Tener en cuenta las técnicas de cierre.


	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-712 7.12. Promoción (marketing digital)

			p.mt-4 El marketing digital es la aplicación de las estrategias de comercialización llevadas a cabo en los medios digitales, sirve para acercar productos o servicios a posibles clientes en los medios digitales.

			.text-center.mt-4

				img(src="assets/images/pages/tema-7/tema-7-3.svg").img-fluid

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold En el Marketing digital existen al menos dos tipos de conversiones:

			br
			br

			p.font-weight-bold Conversiones micro. 

			p.mt-2 Este tipo de conversiones están asociadas a acciones que realiza un usuario que tienen un interés secundario para nuestros objetivos principales, por ejemplo, permanecer en cierta página durante cierto tiempo, hacer clic en un botón, etc.

			p.mt-4.font-weight-bold Conversiones macro.

			p.mt-2 Las conversiones macro son aquellas que están asociadas a nuestros objetivos principales, por ejemplo, venta realizada, suscripción a newsletter, envío de formulario de contacto, etc.

			p.mt-4 La estrategia de marketing digital es un conjunto virtuoso de diseño, creatividad, rentabilidad, ingenio y análisis donde debemos mantener siempre claro el objetivo de conseguir un óptimo retorno de la inversión.

			p.mt-4 En el marketing digital se utilizan una enorme variedad de herramientas con el fin de optimizar las tareas en las distintas áreas involucradas en nuestra actividad. 
			
			br

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Se relacionan algunas de ellas divididas por área:

			br
			br

			.row

				.col-10.m-auto

					.row

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-4.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold Analítica web.

								p.mt-2 Google Analytics, Search Console, Majestic, Google Tag Manager, etc.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-5.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold Paid wedia.

								p.mt-2 Google Ads, MCC, Bing Ads, Facebook Ads, Twitter Ads, etc.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-6.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold Seo.

								p.mt-2 Moz, OnCrawl, Screaming Frog, Yoast, Ahrefs, Semrush, etc.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-7.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold Social media.

								p.mt-2 Hootsuite, Later, Buffer, Bitly, All Hashtag, Storrito, etc.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-8.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold Email Marketing.

								p.mt-2 ClicExperts, MailChimp, etc.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-9.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold Diseño.

								p.mt-2 Photoshop, GIPHY, GIMP, Canvas, Unsplash, etc.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-10.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold IT.

								p.mt-2 Wordpress, WpBakery Page Builder, Notepad++, FileZilla.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-11.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold Reporting.

								p.mt-2 Google Data Studio, Google Spreadsheets, Power Point, etc.

						.col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4.text-center

							img(src="assets/images/pages/tema-7/tema-7-12.svg" style="margin-bottom:-35px;").img-fluid

							.bg-purple-claro.p-4.text-center

								br

								p.font-weight-bold CRM.

								p.mt-2 Zoho, Salesforce, HubSpot, etc. #[br] Herramientas colaborativas: Asana, Trello, Jira, etc.

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-713 7.13. Conocimiento de los competidores

			p.mt-4 En primer lugar, es preciso saber identificar quiénes son sus competidores. En general, son todas las empresas formales e informales que responden a las mismas necesidades del público-objetivo. Es decir, todos los que ofrecen un producto para solucionar un mismo problema. Una pastelería y una hamburguesería no ofrecen el mismo producto, pero son competidores porque responden a una misma necesidad, la alimentación.

			p.mt-4 ¿Cómo evaluar la competencia?

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold Se sugieren tres fuentes de información:


			br
			br

			p.font-weight-bold 7.13.1. Fuentes académicas.

			p.mt-2 Esa competencia ya fue investigada, relevada, identificada y caracterizada en muchas revistas, análisis de economistas, periódicos, libros y artículos técnicos. 

			p.font-weight-bold.mt-4 7.13.2. Conocimiento consensuado.

			p.mt-2 También es recomendable levantar información sobre la competencia a través de boca a boca, las conversaciones con la comunidad y los competidores que están insertos.

			p.font-weight-bold.mt-4 7.13.3. Relevamiento propio.

			p.mt-2 Una tercera fuente de información puede ser el propio empresario porque él mismo puede hacer la identificación de los principales competidores, convertirse en un cliente y buscar información sobre precio, cantidad, posicionamiento, localización, etc.

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-714 7.14. Términos y condiciones

			p.mt-4 Cuando se trata de contratos, ambas partes deben comprender completamente todos los elementos de un contrato.

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
	
				p.font-weight-bold El contrato en sí debe incluir lo siguiente:

			br

			.row.mt-5

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold A

				.col

					p Oferta

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold B

				.col

					p Aceptación

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold C

				.col

					p Consideración

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold D

				.col

					p Partes que tienen capacidad legal

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold E

				.col

					p Materia legal

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold F

				.col

					p Mutuo acuerdo entre ambas partes

			.row.mt-3

				.col-auto

					span.pr-3.pl-3.pt-2.pb-2.rounded-circle.bg-naranja.font-weight-bold G

				.col

					p Comprensión mutua de la obligación

			p.mt-4 Dichos términos y condiciones identificarán los derechos y responsabilidades de ambas partes, esto puede incluir condiciones generales y especiales. #[strong Una condición general] es aquella que es común y está incluida en la mayoría de los contratos. #[strong Las condiciones especiales] son aquellas que son específicas de ese contrato, es decir, pago, variación de precio, penalizaciones, etc.

			p.mt-4 Si bien no son obligatorios los términos y condiciones son altamente beneficiosos para ambas partes básicamente, le otorga el derecho de prescindir del contrato si la otra parte no cumple con dichos términos y condiciones.