.container.mt-5

	.header-ecored
				
		h1 6. Tecnologías de la información y la comunicación
	
	.jumbotron.bg-white

		img(src="assets/images/pages/tema-6/tema-6-1.png").img-fluid

		p Las Tecnologías de la Información y las Comunicaciones (TIC), son el conjunto de recursos, herramientas, equipos, programas informáticos, aplicaciones, redes y medios; que permiten la compilación, procesamiento, almacenamiento, transmisión de información como: voz, datos, texto, video e imágenes. Como lo dice Quiroga et. Al. (2014) “el proceso de transición de las últimas tres décadas hacia una economía global, fundamentalmente en el uso de la información y del conocimiento, ha consolidado nuevas fuentes de crecimiento empresarial y productividad”.

			.jumbotron.bg-2.mt-5 
				.row.justify-content-center.align-items-center
					.col-auto
						img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

					.col
						p En los últimos años se ha hecho indispensable el uso de las nuevas tecnologías para obtener información cada vez con mayor velocidad incluso solo con un clic, se borran las distancias para la comunicación entre las personas.

				.row.justify-content-center.align-items-center
					.col-auto
						a(href="https://www-digitaliapublishing-com.bdigital.sena.edu.co/a/47656/la-gestion-del-conocimiento-y-las-tecnologias-de-la-informacion-y-la-comunicacion-en-las-organizaciones" target="_blank").media-link   

							img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

							.media-link-title
								p #[strong Anexo.] En el siguiente enlace podrá obtener mayor información
		.sub-ecored

			h2#tema-61 6.1. Plataformas tecnológicas

		p Una plataforma tecnológica es un entorno para crear y ejecutar aplicaciones, sistemas y procesos. 

		.header-arrow.mt-5
			h3 Los siguientes son tipos comunes de plataforma tecnológica.
		.jumbotron.card-bg-1.r-border-sup
			.row.justify-content-center.align-items-center
				.col-auto
					img.img-a(src="assets/images/pages/tema-6/img1.png").img-fluid
				.col

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Sistemas operativos proporcionan servicios básicos necesarios para utilizar hardware.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Plataformas informáticas: plataformas creadas soe sistemas operativos que indan funcionalidad informática en áreas como computación en la nube y virtualización.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Plataformas de bases de datos: plataformas en la nube para implementar y administrar varios tipos de bases de datos.

					.list
						.list__item
							.list__item__icon
								img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
						.list__txt    
							p.m-top Plataformas de almacenamiento: plataformas para el almacenamiento escalable de objetos y archivos.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plataformas de aplicación: son entornos y conjuntos de herramientas para desarrollar e implementar aplicaciones.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plataformas móviles: incluyen entornos y sistemas operativos móviles para la creación de aplicaciones móviles, estas incluyen plataformas en la nube para construir backends móviles.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plataformas web:	 indan servicios útiles para la web y software basados en la web como un servicio, como servidores web, servidores de aplicaciones web, redes de entrega de contenido e informática de borde.
			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Sistemas de gestión de contenido: plataformas de publicación de contenidos, medios y documentos, dentro de las empresas se utilizan como un sitio de intranet, y para publicar contenido web, como un periódico, blog o sitio web corporativo.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plataformas de medios: plataformas de publicación y análisis de medios con herramientas como transcodificación, transmisión, y reconocimiento de vídeos.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plataformas API: plataformas en la nube para implementar API, realiza funciones como equiliio de carga, reducción de latencia y limitación de velocidad.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Analítica: servicios de captura, procesamiento, análisis y visualización de datos.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Seguridad: servicios de seguridad como firewall, administración de identidad y acceso, servicios de directorio, certificados, informes de cumplimiento, encriptación, administración de claves, y detección de amenazas.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Robótica: pueden incluir un sistema operativo para robots con un marco para desarrollar e implementar sistemas y servicios backend para robots en la infraestructura de la nube.Internet de las cosas: pueden incluir un sistema operativo para dispositivos y una plataforma en la nube con API.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plataformas de IA: servicios que se basan en IA, como un servicio de síntesis de voz y herramientas para crear su propia IA, como una API de aprendizaje automático.

			.list
				.list__item
					.list__item__icon
						img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
				.list__txt    
					p.m-top Plataformas de juego: entornos optimizados para ejecutar servicios de juego, como backends para juegos móviles o juegos en línea multijugador masivo.

		.sub-ecored.mt-5

			h2#tema-62 6.2. Aplicación y usos de procesadores de texto.
		.jumbotron.card-bg-1.r-border-sup
			.row.justify-content-center.align-items-center
				.col-auto
					img(src="assets/images/pages/tema-6/tema-6-2.svg").img-fluid
				.col
					p #[strong Una aplicación (también llamada app)] es simplemente un programa informático creado para llevar a cabo o facilitar una tarea en un dispositivo informático.

					p #[strong Los procesadores de textos] son aplicaciones informáticas destinadas a la creación, edición, modificación, corrección e impresión de documentos de texto.

		p Por lo general todos los procesadores de textos son capaces de trabajar con diferentes tipos de fuentes, interlineado, alineación, tamaño de letra, corrección ortográfica y gramatical, el trabajo con imágenes y tablas, además de contar con diccionarios en varios idiomas para facilitar la labor de redacción, así como proceder a utilizar herramientas para resaltar determinadas palaas o frases. Es decir, nos da la oportunidad de usar recursos tales como la negrita, la cursiva o el suayado.
