.container.mt-5

	.header-ecored
				
		h1 6. Tecnologías de la información y la comunicación
	
	.card.pb-5

		.card-body

			img(src="assets/images/pages/tema-6/tema-6-1.svg").mt-2.img-fluid

			p.mt-4 Las Tecnologías de la Información y las Comunicaciones (TIC), son el conjunto de recursos, herramientas, equipos, programas informáticos, aplicaciones, redes y medios; que permiten la compilación, procesamiento, almacenamiento, transmisión de información como: voz, datos, texto, video e imágenes. Como lo dice Quiroga et. Al. (2014) “el proceso de transición de las últimas tres décadas hacia una economía global, fundamentalmente en el uso de la información y del conocimiento, ha consolidado nuevas fuentes de crecimiento empresarial y productividad”.

			br
			br

			.row.bg-azul-claro.rounded.p-5(style="border:1px #50A1C9 solid;")

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

					img(src="assets/images/pages/tema-2/tema-2-12.svg").img-fluid

				.col-md-8.col-lg-8.col-sm-8.col-xs-12.mb-3

					p En los últimos años se ha hecho indispensable el uso de las nuevas tecnologías para obtener información cada vez con mayor velocidad incluso solo con un clic, se borran las distancias para la comunicación entre las personas, en el siguiente enlace podrá obtener mayor información: 

					p.mt-4 https://www-digitaliapublishing-com.bdigital.sena.edu.co/a/47656/la-gestion-del-conocimiento-y-las-tecnologias-de-la-informacion-y-la-comunicacion-en-las-organizaciones 

				.col-md-2.col-lg-2.col-sm-2.col-xs-12.mb-3

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-61 6.1. Plataformas tecnológicas

			p.mt-4 Una plataforma tecnológica es un entorno para crear y ejecutar aplicaciones, sistemas y procesos. 

			.bg-naranja.p-5.mt-5.cont-flecha.text-center
		
				p.font-weight-bold Los siguientes son tipos comunes de plataforma tecnológica.


			br
			br

			#collapsable

				#accordionExample.accordion
					.card
						#headingOne.card-header
							h2.mb-0 
								button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
									h3.mb-0.collapsable-title(style="color: #12263f;") Sistemas operativos
						#collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
							.card-body
								| proporcionan servicios básicos necesarios para utilizar hardware.

					.card
						#headingTwo.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas informáticas:
						#collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
							.card-body
								| plataformas creadas sobre sistemas operativos que brindan funcionalidad informática en áreas como computación en la nube y virtualización.

					.card
						#headingThree.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas de bases de datos:
						#collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
							.card-body
								| plataformas en la nube para implementar y administrar varios tipos de bases de datos.

					.card
						#headingFour.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas de almacenamiento:
						#collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
							.card-body
								| plataformas para el almacenamiento escalable de objetos y archivos.

					.card
						#headingFive.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas de aplicación:
						#collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
							.card-body
								| son entornos y conjuntos de herramientas para desarrollar e implementar aplicaciones.

					.card
						#headingSix.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas móviles:
						#collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample')
							.card-body
								|  incluyen entornos y sistemas operativos móviles para la creación de aplicaciones móviles, estas incluyen plataformas en la nube para construir backends móviles.

					.card
						#headingSeven.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas web:
						#collapseSeven.collapse(aria-labelledby='headingSeven', data-parent='#accordionExample')
							.card-body
								|   brindan servicios útiles para la web y software basados en la web como un servicio, como servidores web, servidores de aplicaciones web, redes de entrega de contenido e informática de borde.

					.card
						#headingEight.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
									h3.mb-0.collapsable-title(style="color: #12263f;") Sistemas de gestión de contenido:
						#collapseEight.collapse(aria-labelledby='headingEight', data-parent='#accordionExample')
							.card-body
								|  plataformas de publicación de contenidos, medios y documentos, dentro de las empresas se utilizan como un sitio de intranet, y para publicar contenido web, como un periódico, blog o sitio web corporativo.

					.card
						#headingNine.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas de medios:
						#collapseNine.collapse(aria-labelledby='headingNine', data-parent='#accordionExample')
							.card-body
								|  plataformas de publicación y análisis de medios con herramientas como transcodificación, transmisión, y reconocimiento de vídeos.

					.card
						#headingTen.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTen', aria-expanded='false', aria-controls='collapseTen')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas API:
						#collapseTen.collapse(aria-labelledby='headingTen', data-parent='#accordionExample')
							.card-body
								| plataformas en la nube para implementar API, realiza funciones como equilibrio de carga, reducción de latencia y limitación de velocidad.

					.card
						#headingEleven.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEleven', aria-expanded='false', aria-controls='collapseEleven')
									h3.mb-0.collapsable-title(style="color: #12263f;") Analítica:
						#collapseEleven.collapse(aria-labelledby='headingEleven', data-parent='#accordionExample')
							.card-body
								| servicios de captura, procesamiento, análisis y visualización de datos.

					.card
						#headingTwelve.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwelve', aria-expanded='false', aria-controls='collapseTwelve')
									h3.mb-0.collapsable-title(style="color: #12263f;") Seguridad:
						#collapseTwelve.collapse(aria-labelledby='headingTwelve', data-parent='#accordionExample')
							.card-body
								| servicios de seguridad como firewall, administración de identidad y acceso, servicios de directorio, certificados, informes de cumplimiento, encriptación, administración de claves, y detección de amenazas.

					.card
						#headingThirteen.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThirteen', aria-expanded='false', aria-controls='collapseThirteen')
									h3.mb-0.collapsable-title(style="color: #12263f;") Robótica:
						#collapseThirteen.collapse(aria-labelledby='headingThirteen', data-parent='#accordionExample')
							.card-body
								| pueden incluir un sistema operativo para robots con un marco para desarrollar e implementar sistemas y servicios backend para robots en la infraestructura de la nube.

					.card
						#headingFourteen.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFourteen', aria-expanded='false', aria-controls='collapseFourteen')
									h3.mb-0.collapsable-title(style="color: #12263f;") Internet de las cosas:
						#collapseFourteen.collapse(aria-labelledby='headingFourteen', data-parent='#accordionExample')
							.card-body
								|  pueden incluir un sistema operativo para dispositivos y una plataforma en la nube con API.

					.card
						#headingFifteen.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFifteen', aria-expanded='false', aria-controls='collapseFifteen')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas de IA:
						#collapseFifteen.collapse(aria-labelledby='headingFifteen', data-parent='#accordionExample')
							.card-body
								|  servicios que se basan en IA, como un servicio de síntesis de voz y herramientas para crear su propia IA, como una API de aprendizaje automático.

					.card
						#headingSixteen.card-header
							h2.mb-0 
								button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSixteen', aria-expanded='false', aria-controls='collapseSixteen')
									h3.mb-0.collapsable-title(style="color: #12263f;") Plataformas de juego:
						#collapseSixteen.collapse(aria-labelledby='headingSixteen', data-parent='#accordionExample')
							.card-body
								|  entornos optimizados para ejecutar servicios de juego, como backends para juegos móviles o juegos en línea multijugador masivo.

	br

	.card.pb-5.pt-5

		.card-body

			.sub-ecored

				h2#tema-62 6.2. Aplicación y usos de procesadores de texto.

				.row.bg-azul3.p-4.mt-5

					.col-auto

						img(src="assets/images/pages/tema-6/tema-6-2.svg").mt-2.img-fluid

					.col.pl-5.pr-5

						br

						p.mt-5 #[strong Una aplicación (también llamada app)] es simplemente un programa informático creado para llevar a cabo o facilitar una tarea en un dispositivo informático.

						p.mt-4 #[strong Los procesadores de textos] son aplicaciones informáticas destinadas a la creación, edición, modificación, corrección e impresión de documentos de texto.

				p.mt-4 Por lo general todos los procesadores de textos son capaces de trabajar con diferentes tipos de fuentes, interlineado, alineación, tamaño de letra, corrección ortográfica y gramatical, el trabajo con imágenes y tablas, además de contar con diccionarios en varios idiomas para facilitar la labor de redacción, así como proceder a utilizar herramientas para resaltar determinadas palabras o frases. Es decir, nos da la oportunidad de usar recursos tales como la negrita, la cursiva o el subrayado.
