//Colores base del material de formación
$brand-color-dark: #ffc558;
$text-color-dark: #00223d;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #e6eef3;
$text-color-light: $primary;
$brand-color-secondary: #7ca7c9;

.sub-ecored {
  h2,
  h3 {
    overflow: hidden;
    font-weight: 700;
  }

  h2:after,
  h3:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid orange;
  }
  &.-recuadro {
    color: #db9600;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 700;

    span.number {
      background-color: $brand-color-light;
      color: #fff;
      width: 55px;
      height: 55px;
      margin-right: 1.5rem;
      line-height: 55px;
      text-align: center;
    }
  }
}

.bg-azul-claro {
  background-color: #b7cfdf;
}
.bg-azul-claro2 {
  background-color: #d0efff;
}
.bg-azul4 {
  background-color: #b2e1f8;
}
.bg-naranja {
  background-color: #fec558;
}

.cont-flecha {
  &::before {
    content: "";
    border-style: solid;
    border-width: 28px 20px 0px 20px;
    border-color: #fec558 transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    transform: translateY(46px);
  }
}
.bg-azul-claro2 {
  background-color: #bce5fa;
}
.borde-azul {
  border: 1px #50a1c9 solid;
}
.text-color-default {
  color: #12263f;
}

.title-barra-horizontal {
  &::after {
    content: "";
    position: absolute;
    left: 41%;
    transform: translateX(-50%);
    z-index: 9;
    transform: translateY(11px);
    width: 57%;
    height: 2px;
    background-color: #fd8f25;
  }
}

.bg-curuva {
  background-color: #ffc558;
}
.bg-rosado {
  background-color: #fae7b7;
}
.bg-azul-claro {
  background-color: #bce5fa;
}
.link-default {
  color: inherit !important;
  font-weight: bold !important;
}

.btn-link:after {
  background: #0a174c !important;
}
.bg-azul1 {
  background-color: #4181e6;
}
.bg-azul2 {
  background-color: #9dd7ff;
}
.card-bg-1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 232, 241, 1) 100%
  );
}

.title-4-1 {
  position: relative;
  right: 21px;
  top: -38px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-weight: 500;
  float: right;
  padding: 7px 35px 7px 35px;
}
.bg-purple {
  background-color: #b7cfdf;
}
.bg-azul3 {
  background-color: #e5effe;
}
.cont-letra {
  padding: 10px;
}

.bg-purple-claro {
  background-color: #ededed;
}

.bg-rojo1 {
  background-color: #fa8a8b;
}
.bg-naranja-claro {
  background-color: #ffda93;
}
